<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Document Settings -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<!-- Page Title -->
	<title>Kotha Pro - The Most Powerful Blog Theme</title>
	<!-- Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i%7cOswald:300,400,500,600,700%7CPlayfair+Display:400,400i,700,700i"
		rel="stylesheet">
	<!-- Styles -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/slick-theme.css">
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="style.css">
	<!-- HTML5 shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.js"></script>
	<![endif]-->
</head>
<body class="comingsoon">
<div id="comingsoon-wrap" class="comingsoon-wrap text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<a href="index.html" class="comingsoon-logo text-center">
					<img src="assets/images/kotha-white-logo.png" class="img-responsive" alt="logo">
				</a>
				<div class="countdown-area clearfix">
					<ul id="countdown" class="countdown">
						<li>
							<span class="days">00</span>
							<span class="time-period">Days</span>
						</li>
						<li>
							<span class="hours">00</span>
							<span class="time-period">Hours</span>
						</li>
						<li>
							<span class="minutes">00</span>
							<span class="time-period">Min</span>
						</li>
						<li>
							<span class="seconds">00</span>
							<span class="time-period">SEC</span>
						</li>
					</ul>
				</div>
				<h3 class="content">
					We are working to bring the new site live soon! <br>Please don't forget to subscribe to our
					newsletter to be notified!
				</h3>
				<form class="form">
					<input type="text" placeholder="Enter your email here">
					<input class="btn btn-primary" type="submit" value="Subscribe" name="Submit">
				</form>
				<ul class="social-share list-inline">
					<li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
					<li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
				</ul> <!-- //social-icons -->
			</div>
		</div> <!-- //row -->
	</div> <!-- //container -->
</div>

<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/countdown.js"></script>
<script>
    //Countdown
    $(document).ready(function () {
        $("#countdown").countdown({
                date: "15 Feb 2018 20:43:00",
                format: "on"
            },

            function () {
                // callback function
            });
    });
</script>
</body>
</html>