<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Document Settings -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<!-- Page Title -->
	<title>Kotha Pro - The Most Powerful Blog Theme</title>
	<!-- Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i%7cOswald:300,400,500,600,700%7cPlayfair+Display:400,400i,700,700i"
		rel="stylesheet">
	<!-- Styles -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/slick-theme.css">
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="style.css">
	<!-- HTML5 shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.js"></script>
	<![endif]-->
</head>
<body>
<header class="kotha-menu marketing-menu">
	<nav class="navbar  navbar-default">
		<div class="container">
			<div class="menu-content">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					        data-target="#myNavbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="top-social-icons list-inline pull-right">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li class="top-search">
							<a href="#" class="sactive">
								<i class="fa fa-search"></i>
							</a>
						</li>
					</ul>
					<ul class="nav navbar-nav text-uppercase pull-left">
						<li class="dropdown">
							<a href="index.html" class="dropdown-toggle" data-toggle="dropdown"
							   role="button"
							   aria-haspopup="true" aria-expanded="false">Home</a>
							<ul class="dropdown-menu">
								<li class="active"><a href="index.html">Home Default</a></li>
								<li class=""><a href="index-feminine.html">Home Feminine</a></li>
								<li class=""><a href="index-travel.html">Home Travel</a></li>
								<li class=""><a href="index-food.html">Home Food</a></li>
								<li class=""><a href="index-material.html">Home Material</a></li>
								<li class=""><a href="index-marketing.html">Home Digital Marketing</a></li>
								<li class=""><a href="index-retro.html">Home Retro Blog</a></li>
								<li class=""><a href="index-archi.html">Home Architecture</a></li>
								<li class=""><a href="index-magazine.html">Home Magazine</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button"
							   aria-haspopup="true" aria-expanded="false">Layouts</a>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									   role="button"
									   aria-haspopup="true" aria-expanded="false">Header style</a>
									<ul class="dropdown-menu">
										<li><a href="index.html">Default Header</a></li>
										<li><a href="header-fixed-img.html">Header Fixed Image</a></li>
										<li><a href="video-header.html">Header video</a></li>
										<li><a href="top-logo-page.html">Top Logo</a></li>
										<li><a href="left-header.html">Left Logo</a></li>
									</ul>
								</li>
								<li><a href="single-page.html">Standard Post</a></li>
								<li><a href="default-1st-large-then-grid.html">1st Large Then Grid</a></li>
								<li><a href="default-grid.html">Grid Layout</a></li>
								<li><a href="default-1st-large-then-list.html">1st Large Then list</a></li>
								<li><a href="default-list.html">List Layout</a></li>
								<li><a href="grid-2-columns.html">Grid 2 Columns Layout</a></li>
								<li><a href="default-grid-3-columns.html">Grid 3 Columns Layout</a></li>
								<li><a href="isotope-blog-grid.html">Grid Layout with isotope</a></li>
								<li><a href="grid-masonry.html">Masonry Layout</a></li>
								<li><a href="index-overlay-post.html">Post Overlay Layout</a></li>
								<li><a href="single-page.html">Single Post</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button"
							   aria-haspopup="true" aria-expanded="false">Features</a>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									   role="button"
									   aria-haspopup="true" aria-expanded="false">Pages & Templates</a>
									<ul class="dropdown-menu">
										<li><a href="default-fluid.html">Full Width</a></li>
										<li><a href="default-left-sidebar.html">Left Sidebar</a></li>
										<li><a href="index.html">Right Sidebar</a></li>
										<li><a href="about-me.html">About Me</a></li>
										<li><a href="about-us-2.html">About Us 2</a></li>
										<li><a href="about-us-3.html">About Us 3</a></li>
										<li><a href="about-us-4.html">About Us 4</a></li>
										<li><a href="about-us-5.html">About us 5</a></li>
										<li><a href="coming-soon.html">Coming Soon</a></li>
										<li><a href="404.html">404 Page</a></li>
										<li><a href="typography.html">Typography</a></li>
										<li><a href="testimonial.html">Testimonial</a></li>
										<li><a href="contact.html">Contact me</a></li>
										<li><a href="contact-with-map.html">Contact Us 2</a></li>
										<li><a href="contact-only-form.html">Contact Us 3</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									   role="button"
									   aria-haspopup="true" aria-expanded="false">Gallery</a>
									<ul class="dropdown-menu">
										<li><a href="gallery-2-columns.html">Gallery 2 Columns</a></li>
										<li><a href="gallery-3-columns.html">Gallery 3 Columns</a></li>
										<li><a href="gallery-4-columns.html">Gallery 4 Columns </a></li>
										<li><a href="gallery-5-columns.html">Gallery 5 Columns </a></li>
									</ul>
								</li>
								<li><a href="single-page.html">Standard Post</a></li>
								<li><a href="single-page-video.html">Video post</a></li>
								<li><a href="single-page-gallery.html">Gallery post</a></li>
								<li><a href="single-page-audio.html">Audio post</a></li>
								<li><a href="single-page-quote.html">Quote post</a></li>
								<li><a href="single-page-link.html">Link</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									   role="button"
									   aria-haspopup="true" aria-expanded="false">Archive</a>
									<ul class="dropdown-menu">
										<li><a href="archive-date.html">Archive date</a></li>
										<li><a href="archive-cat.html"> Archive category</a></li>
										<li><a href="archive-tag.html">Archive tag</a></li>
										<li><a href="archive-search.html">Archive search</a></li>
									</ul>
								</li>
								<li><a href="shop.html">WooCommerce Shop</a></li>
								<li><a href="single-product.html">Single product</a></li>

							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button"
							   aria-haspopup="true" aria-expanded="false">Portfolio</a>
							<ul class="dropdown-menu">
								<li class=""><a href="portfolio-2-columns.html">Portfolio 2 Columns</a></li>
								<li class=""><a href="portfolio-3-columns.html">Portfolio 3 Columns</a></li>
								<li class=""><a href="portfolio-4-columns.html">Portfolio 4 Columns</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									   role="button"
									   aria-haspopup="true" aria-expanded="false">Isotope Portfolio</a>
									<ul class="dropdown-menu">
										<li><a href="portfolio-2-columns-isotope.html">Portfolio 2 Columns</a></li>
										<li><a href="portfolio-3-columns-isotope.html">Portfolio 3 Columns</a></li>
										<li><a href="portfolio-4-columns-isotope.html">Portfolio 4 Columns</a></li>
									</ul>
								</li>
								<li class=""><a href="single-portfolio.html">Single Portfolio</a></li>
							</ul>
						</li>
						<li><a href="archive-cat.html">Travel</a></li>
						<li><a href="about-me.html">About me</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="show-search">
					<form role="search" method="get" id="searchform" action="#">
						<input type="text" placeholder="Search and hit enter..." name="s" id="s">
					</form>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="kotha-logo text-center">
		<h1><a href="index.html"><img src="assets/images/kotha-logo.png" alt="kothPro"></a></h1>
	</div>
</header>

<div class="main-content">
	<div class="container">
		<!-- shop header-->
		<div class="product-info">
			<div class="row">
				<div class="col-md-6">
					<div id="shopCarousel" class="carousel carousel-fade slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#shopCarousel" data-slide-to="0" class="one"></li>
							<li data-target="#shopCarousel" data-slide-to="1" class="two active"></li>
							<li data-target="#shopCarousel" data-slide-to="2" class="three"></li>
							<li data-target="#shopCarousel" data-slide-to="3" class="four"></li>
							<li data-target="#shopCarousel" data-slide-to="4" class="five"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active left">
								<div class="shop-content text-center">
									<img src="assets/images/shop-img-1.jpg" alt="">
								</div>
							</div>
							<div class="item next left">
								<div class="shop-content text-center">
									<img src="assets/images/shop-img-2.jpg" alt="">
								</div>
							</div>
							<div class="item">
								<div class="shop-content text-center">
									<img src="assets/images/shop-img-3.jpg" alt="">
								</div>
							</div>
							<div class="item">
								<div class="shop-content text-center">
									<img src="assets/images/shop-img-4.jpg" alt="">
								</div>
							</div>
							<div class="item">
								<div class="shop-content text-center">
									<img src="assets/images/shop-img-2.jpg" alt="">
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-md-6">
					<div class="product-details">
						<h2>Happy Ninja</h2>
						<div class="rating clearfix">
							<ul class="icon list-inline pull-left">
								<li><a href=""> <i class="fa fa-star"></i></a></li>
								<li><a href=""> <i class="fa fa-star"></i></a></li>
								<li><a href=""> <i class="fa fa-star"></i></a></li>
								<li><a href=""> <i class="fa fa-star"></i></a></li>
								<li><a href=""> <i class="fa fa-star-o"></i></a></li>
							</ul>
							<span>(3 Customers Reviews)</span>
						</div>
						<h4>$29.00</h4>
						<p class="des">Praesent sapien massa, convallis a pellentesque nec, eges non nisi. Proin eget
							tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
							cubilia Curae; Doneelit neque, auctor sit amet aliquam vel, ullamcorper sit ametligla.
							Praesent sapien massa, convallis</p>
						<div class="quantity color">
							<form action="#">
								<input type="number" placeholder="1">
							</form>
							<a href="" class="add-cart text-center text-uppercase">ADD TO CART</a>
						</div>
						<div class="category-name">
							<h3>Categories: <a href=""> Clothing</a>, <a href="">Hoodies</a>.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="tab">
				<div class="tab-list">
					<ul class="nav nav-tabs">
						<li class="">
							<a href="#more-info" data-toggle="tab" aria-expanded="false">Description</a>
						</li>
						<li class="active">
							<a href="#reviews" data-toggle="tab" aria-expanded="true">Reviews(1)</a>
						</li>
					</ul>
				</div>
				<div class="fix"></div>
				<div class="tab-content review">
					<div role="tabpanel" class="tab-pane fade" id="more-info">

						<p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id
							imperdiet et, porttitor at sem. Nulla quis lorem ut libero suada feugiat. Praesent sapien
							massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna
							dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
							cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
							Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue
							leo eget malesuada. Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget
							consectetur sed, convallis at tellus.</p>
						<p>
							Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
							Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla quis
							lorem ut libero malesuada feugiat. Nulla porttitor accumsan.</p>
					</div>
					<div role="tabpanel" class="tab-pane fade active in" id="reviews">
						<div id="product-comments-block-tab">
							<ul class="media-list">
								<li class="media">
									<div class="media-left text-center">
										<a href=""> <img class="media-object img-circle"
										                 src="assets/images/bullet-1.jpg" alt=""></a>
									</div>
									<div class="media-body">
										<div class="rating pull-right">
											<ul class="list-inline icon pull-right">
												<li><a href=""> <i class="fa fa-star"></i></a></li>
												<li><a href=""> <i class="fa fa-star"></i></a></li>
												<li><a href=""> <i class="fa fa-star"></i></a></li>
												<li><a href=""> <i class="fa fa-star"></i></a></li>
												<li><a href=""> <i class="fa fa-star-o"></i></a></li>
											</ul>
										</div>

										<h4 class="media-heading"><a href="#">Ricky Martin</a></h4>
										<p class="comment-date">August 20, 2016 at 3:09 pm</p>
										<p class="comment-p fix">
											Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
											eirmod
											tempor
											invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
											vero eos
											et
											accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
											sea
										</p>

									</div>
								</li>
							</ul>
						</div>
						<div class="review-form leave-comment">
							<div class="review-form-heading">
								<h3>BE THE FIRST TO REVIEW</h3>
							</div>
							<form class="contact-form" id="ContactForm" method="post" action="#">
								<!--contact form-->
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<textarea class="form-control" name="message" rows="5"
											          placeholder="Review comment" required="required"></textarea>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<input type="text" name="name" class="form-control" placeholder="Name"
											       required="required">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<input type="email" name="email" class="form-control" placeholder="E-mail"
											       required="required">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="rating your-rating">
											<span class="text-uppercase">your rating </span>
											<ul class="icon list-inline">
												<li><a href=""> <i class="fa fa-star-o"></i></a></li>
												<li><a href=""> <i class="fa fa-star-o"></i></a></li>
												<li><a href=""> <i class="fa fa-star-o"></i></a></li>
												<li><a href=""> <i class="fa fa-star-o"></i></a></li>
												<li><a href=""> <i class="fa fa-star-o"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-12">
										<button type="submit" class="review-send text-uppercase">Submit your review
										</button>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h2 class="product-heading">
						Related Products
					</h2>
				</div>
				<div class="col-sm-4">
					<div class="single-product"><!--single product -->
						<a href="single-product.html"><img src="assets/images/shop-img-1.jpg" alt=""></a>
						<div class="product-meta text-center">
							<a href="single-product.html"><h3 class="product-title">Happy Ninja</h3></a>
							<div class="rating">
								<ul class="icon list-inline">
									<li><a href=""> <i class="fa fa-star"></i></a></li>
									<li><a href=""> <i class="fa fa-star"></i></a></li>
									<li><a href=""> <i class="fa fa-star"></i></a></li>
									<li><a href=""> <i class="fa fa-star"></i></a></li>
									<li><a href=""> <i class="fa fa-star-o"></i></a></li>
								</ul>
							</div>
							<h4 class="price">
								$16
							</h4>
							<a href="single-product.html" class="add-cart text-uppercase"> add to cart</a>
						</div>
					</div><!-- /single product -->
				</div>
				<div class="col-sm-4">
					<div class="single-product"><!--single product -->
						<a href="single-product.html"><img src="assets/images/shop-img-2.jpg" alt=""></a>
						<div class="product-meta text-center">
							<span class="item-sold text-uppercase"> sale!</span>
							<a href="single-product.html"><h3 class="product-title">Happy Ninja</h3></a>
							<div class="rating">
								<ul class="icon list-inline">
									<li><a href=""> <i class="fa fa-star"></i></a></li>
									<li><a href=""> <i class="fa fa-star"></i></a></li>
									<li><a href=""> <i class="fa fa-star"></i></a></li>
									<li><a href=""> <i class="fa fa-star"></i></a></li>
									<li><a href=""> <i class="fa fa-star-o"></i></a></li>
								</ul>
							</div>
							<h4 class="price">
								$16
							</h4>
							<a href="single-product.html" class="add-cart text-uppercase"> add to cart</a>
						</div>
					</div><!-- /single product -->
				</div>
				<div class="col-sm-4">
					<div class="single-product"><!--single product -->
						<a href="single-product.html"><img src="assets/images/shop-img-3.jpg" alt=""></a>
						<div class="product-meta text-center">
							<a href="single-product.html"><h3 class="product-title">Happy Ninja</h3></a>
							<div class="rating">
								<ul class="icon list-inline">
									<li><a href=""> <i class="fa fa-star"></i></a></li>
									<li><a href=""> <i class="fa fa-star"></i></a></li>
									<li><a href=""> <i class="fa fa-star"></i></a></li>
									<li><a href=""> <i class="fa fa-star"></i></a></li>
									<li><a href=""> <i class="fa fa-star-o"></i></a></li>
								</ul>
							</div>
							<h4 class="price">
								$16
							</h4>
							<a href="single-product.html" class="add-cart text-uppercase"> add to cart</a>
						</div>
					</div><!-- /single product -->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid insta-feed text-center">
	<h2 class="text-uppercase">Follow@ <a href="">Instagram</a></h2>
	<div id="footer-instagram" class="footer-insta">
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-1.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-2.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>

		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-3.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>

		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-4.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-5.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-6.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-7.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-8.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<div class="footer-widget-row">
			<div class="footer-widget contact-widget">
				<div class="widget-title">
					<img src="assets/images/ft-logo.png" alt="">
				</div>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
					ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eaccusam et justo duo
					dolores eteem.</p>
				<div class="address">
					<h4 class="text-uppercase">contact Info</h4>
					<p> 239/2 NK Street, DC, USA</p>
					<p> Phone: +123 456 78900</p>
					<a href="mailto:theme@kotha.com">theme@kotha.com</a>
				</div>
			</div>
			<div class="footer-widget twitter-widget">
				<h2 class="widget-title text-uppercase">
					Latest TWeeTs
				</h2>
				<div class="single-tweet">
					<p>Check our new theme 'kotha - Personal WordPress Blog Theme' on #themeforest #Envato
						#WordPress <br>
						<a href="https://t.co/kN5OPEuPzx">https://t.co/kN5OPEuPzx</a></p>
					<h4><i class="fa fa-twitter"></i>Tweeted on 17 hours ago</h4>
				</div>
				<div class="single-tweet">
					<p>Check our new theme 'kotha - Personal WordPress Blog Theme' on #themeforest #Envato
						#WordPress
						<br>
						<a href="https://t.co/kN5OPEuPzx">https://t.co/kN5OPEuPzx</a></p>
					<h4><i class="fa fa-twitter"></i>Tweeted on 17 hours ago</h4>
				</div>
			</div>
			<!--<div class="footer-widget social-widget">
				<h2 class="widget-title text-uppercase">
					Keep in touch
				</h2>
				<ul>
					<li><a href=""><i class="fa fa-facebook"></i>facebook</a></li>
					<li><a href=""><i class="fa fa-twitter"></i>twitter</a></li>
					<li><a href=""><i class="fa fa-instagram"></i>instagram</a></li>
					<li><a href=""><i class="fa fa-google-plus"></i> google plus</a></li>
					<li><a href=""><i class="fa fa-youtube"></i>Youtube</a></li>
					<li><a href=""><i class="fa fa-envelope"></i> E-mail</a></li>
					<li><a href=""><i class="fa fa-vimeo"></i> Vimeo </a></li>
					<li><a href=""><i class="fa fa-pinterest"></i> Pinterest</a></li>

				</ul>
			</div>-->
			<div class="footer-widget testimonial-widget">
				<h2 class="widget-title text-uppercase">Testimonials</h2>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!--Indicator-->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class=""></li>
						<li data-target="#myCarousel" data-slide-to="1" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="2" class=""></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item">
							<div class="single-review">
								<div class="review-text">
									<p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
										tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
										vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
										magna aliquyam eratma</p>
								</div>
								<div class="author-id">
									<img src="assets/images/author.png" alt="">
									<div class="author-text">
										<h4>Sophia</h4>
										<h4>CEO, ReadyTheme</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="item active">
							<div class="single-review">
								<div class="review-text">
									<p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
										tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
										vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
										magna aliquyam eratma</p>
								</div>
								<div class="author-id">
									<img src="assets/images/author.png" alt="">
									<div class="author-text">
										<h4>Sophia</h4>
										<h4>CEO, ReadyTheme</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="single-review">
								<div class="review-text">
									<p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
										tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
										vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
										magna aliquyam eratma</p>
								</div>
								<div class="author-id">
									<img src="assets/images/author.png" alt="">

									<div class="author-text">
										<h4>Sophia</h4>
										<h4>CEO, ReadyTheme</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid text-center ft-copyright">
		<p>&copy; 2017 <a href="">Kotha PRO </a> - Designed with <i class="fa fa-heart"></i> by <a
			href="http://shapedtheme.com">ShapedTheme</a></p>
	</div>
</footer>
<div class="scroll-up">
	<a href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!--//Script//-->
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>