<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Document Settings -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<!-- Page Title -->
	<title>Kotha Pro - The Most Powerful Blog Theme</title>
	<!-- Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i%7cOswald:300,400,500,600,700%7cPlayfair+Display:400,400i,700,700i"
		rel="stylesheet">
	<!-- Styles -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/slick-theme.css">
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="style.css">
	<!-- HTML5 shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.js"></script>
	<![endif]-->
</head>
<body>
<header class="kotha-menu marketing-menu">
	<nav class="navbar  navbar-default">
		<div class="container">
			<div class="menu-content">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					        data-target="#myNavbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="top-social-icons list-inline pull-right">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li class="top-search">
							<a href="#" class="sactive">
								<i class="fa fa-search"></i>
							</a>
						</li>
					</ul>
					<ul class="nav navbar-nav text-uppercase pull-left">
						<li class="dropdown">
							<a href="index.html" class="dropdown-toggle" data-toggle="dropdown"
							   role="button"
							   aria-haspopup="true" aria-expanded="false">Home</a>
							<ul class="dropdown-menu">
								<li class="active"><a href="index.html">Home Default</a></li>
								<li class=""><a href="index-feminine.html">Home Feminine</a></li>
								<li class=""><a href="index-travel.html">Home Travel</a></li>
								<li class=""><a href="index-food.html">Home Food</a></li>
								<li class=""><a href="index-material.html">Home Material</a></li>
								<li class=""><a href="index-marketing.html">Home Digital Marketing</a></li>
								<li class=""><a href="index-retro.html">Home Retro Blog</a></li>
								<li class=""><a href="index-archi.html">Home Architecture</a></li>
								<li class=""><a href="index-magazine.html">Home Magazine</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button"
							   aria-haspopup="true" aria-expanded="false">Layouts</a>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									   role="button"
									   aria-haspopup="true" aria-expanded="false">Header style</a>
									<ul class="dropdown-menu">
										<li><a href="index.html">Default Header</a></li>
										<li><a href="header-fixed-img.html">Header Fixed Image</a></li>
										<li><a href="video-header.html">Header video</a></li>
										<li><a href="top-logo-page.html">Top Logo</a></li>
										<li><a href="left-header.html">Left Logo</a></li>
									</ul>
								</li>
								<li><a href="single-page.html">Standard Post</a></li>
								<li><a href="default-1st-large-then-grid.html">1st Large Then Grid</a></li>
								<li><a href="default-grid.html">Grid Layout</a></li>
								<li><a href="default-1st-large-then-list.html">1st Large Then list</a></li>
								<li><a href="default-list.html">List Layout</a></li>
								 <li><a href="grid-2-columns.html">Grid 2 Columns Layout</a></li>
								<li><a href="default-grid-3-columns.html">Grid 3 Columns Layout</a></li>
								<li><a href="isotope-blog-grid.html">Grid Layout with isotope</a></li>
								<li><a href="grid-masonry.html">Masonry Layout</a></li>
								<li><a href="index-overlay-post.html">Post Overlay Layout</a></li>
								<li><a href="single-page.html">Single Post</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button"
							   aria-haspopup="true" aria-expanded="false">Features</a>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									   role="button"
									   aria-haspopup="true" aria-expanded="false">Pages & Templates</a>
									<ul class="dropdown-menu">
										<li><a href="default-fluid.html">Full Width</a></li>
										<li><a href="default-left-sidebar.html">Left Sidebar</a></li>
										<li><a href="index.html">Right Sidebar</a></li>
										<li><a href="about-me.html">About Me</a></li>
										<li><a href="about-us-2.html">About Us 2</a></li>
										<li><a href="about-us-3.html">About Us 3</a></li>
										<li><a href="about-us-4.html">About Us 4</a></li>
										<li><a href="about-us-5.html">About us 5</a></li>
										<li><a href="coming-soon.html">Coming Soon</a></li>
										<li><a href="404.html">404 Page</a></li>
										<li><a href="typography.html">Typography</a></li>
										<li><a href="testimonial.html">Testimonial</a></li>
										<li><a href="contact.html">Contact me</a></li>
										<li><a href="contact-with-map.html">Contact Us 2</a></li>
										<li><a href="contact-only-form.html">Contact Us 3</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									   role="button"
									   aria-haspopup="true" aria-expanded="false">Gallery</a>
									<ul class="dropdown-menu">
										<li><a href="gallery-2-columns.html">Gallery 2 Columns</a></li>
										<li><a href="gallery-3-columns.html">Gallery 3 Columns</a></li>
										<li><a href="gallery-4-columns.html">Gallery 4 Columns </a></li>
										<li><a href="gallery-5-columns.html">Gallery 5 Columns </a></li>
									</ul>
								</li>
								<li><a href="single-page.html">Standard Post</a></li>
								<li><a href="single-page-video.html">Video post</a></li>
								<li><a href="single-page-gallery.html">Gallery post</a></li>
								<li><a href="single-page-audio.html">Audio post</a></li>
								<li><a href="single-page-quote.html">Quote post</a></li>
								<li><a href="single-page-link.html">Link</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									   role="button"
									   aria-haspopup="true" aria-expanded="false">Archive</a>
									<ul class="dropdown-menu">
										<li><a href="archive-date.html">Archive date</a></li>
										<li><a href="archive-cat.html"> Archive category</a></li>
										<li><a href="archive-tag.html">Archive tag</a></li>
										<li><a href="archive-search.html">Archive search</a></li>
									</ul>
								</li>
								<li><a href="shop.html">WooCommerce Shop</a></li>
								<li><a href="single-product.html">Single product</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button"
							   aria-haspopup="true" aria-expanded="false">Portfolio</a>
							<ul class="dropdown-menu">
								<li class=""><a href="portfolio-2-columns.html">Portfolio 2 Columns</a></li>
								<li class=""><a href="portfolio-3-columns.html">Portfolio 3 Columns</a></li>
								<li class=""><a href="portfolio-4-columns.html">Portfolio 4 Columns</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									   role="button"
									   aria-haspopup="true" aria-expanded="false">Isotope Portfolio</a>
									<ul class="dropdown-menu">
										<li><a href="portfolio-2-columns-isotope.html">Portfolio 2 Columns</a></li>
										<li><a href="portfolio-3-columns-isotope.html">Portfolio 3 Columns</a></li>
										<li><a href="portfolio-4-columns-isotope.html">Portfolio 4 Columns</a></li>
									</ul>
								</li>
								<li class=""><a href="single-portfolio.html">Single Portfolio</a></li>
							</ul>
						</li>
						<li><a href="archive-cat.html">Travel</a></li>
						<li><a href="about-me.html">About me</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="show-search">
					<form role="search" method="get" id="searchform" action="#">
						<input type="text" placeholder="Search and hit enter..." name="s" id="s">
					</form>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="kotha-logo text-center">
		<h1><a href="index.html"><img src="assets/images/kotha-logo.png" alt="KothaPro"></a></h1>
	</div>
</header>
<div class="typography-page">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="accordion-head-text">
					<h3>Accordion 6/12 </h3>
				</div>
			</div>
			<!--col-md-6 end-->
			<div class="col-md-6">
				<div class="accordion-head-text">
					<h3>Accordion 6/12 </h3>
				</div>
			</div>
			<!--col-md-6 end-->
			<div class="col-md-6 section-padding">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default accordion-one">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col-one">
									Our Solution</a>
							</h4>
						</div>
						<div id="col-one" class="panel-collapse collapse">
							<div class="panel-body">
								<img src="assets/images/accordion.jpg" alt="">

								<p>Vivamus non metus est. Etiam eu tellus justo. Vivamus placerat vestib eleifend. Sed
									viverra felis ante, id viverra enim pellentesque vitae. Suspendisse eleifend iaculis
									venenatis. .</p>
							</div>
						</div>
					</div>
					<!--accordion one-->
					<div class="panel panel-default accordion-one">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col-two">
									Our Values</a>
							</h4>
						</div>
						<div id="col-two" class="panel-collapse collapse">
							<div class="panel-body">
								<img src="assets/images/accordion.jpg" alt="">

								<p>Vivamus non metus est. Etiam eu tellus justo. Vivamus placerat vestib eleifend. Sed
									viverra felis ante, id viverra enim pellentesque vitae. Suspendisse eleifend iaculis
									venenatis. .</p>
							</div>
						</div>
					</div>
					<!--accordion two-->
					<div class="panel panel-default accordion-one">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col-three">
									Our Technology</a>
							</h4>
						</div>
						<div id="col-three" class="panel-collapse collapse">
							<div class="panel-body">
								<img src="assets/images/accordion.jpg" alt="">

								<p>Vivamus non metus est. Etiam eu tellus justo. Vivamus placerat vestib eleifend. Sed
									viverra felis ante, id viverra enim pellentesque vitae. Suspendisse eleifend iaculis
									venenatis. .</p>
							</div>
						</div>
					</div>
					<!--accordion three-->
					<div class="panel panel-default accordion-one">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col-four">
									Our Missions</a>
							</h4>
						</div>
						<div id="col-four" class="panel-collapse collapse">
							<div class="panel-body">
								<img src="assets/images/accordion.jpg" alt="">

								<p>Vivamus non metus est. Etiam eu tellus justo. Vivamus placerat vestib eleifend. Sed
									viverra felis ante, id viverra enim pellentesque vitae. Suspendisse eleifend iaculis
									venenatis. .</p>
							</div>
						</div>
					</div>
					<!--accordion four-->
					<div class="panel panel-default accordion-one">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col-5">
									Our Services</a>
							</h4>
						</div>
						<div id="col-5" class="panel-collapse collapse">
							<div class="panel-body">
								<img src="assets/images/accordion.jpg" alt="">

								<p>Vivamus non metus est. Etiam eu tellus justo. Vivamus placerat vestib eleifend. Sed
									viverra felis ante, id viverra enim pellentesque vitae. Suspendisse eleifend iaculis
									venenatis. .</p>
							</div>
						</div>
					</div>
					<!--accordion five-->
				</div>
				<!--accordion-->
			</div>
			<div class="col-md-6 section-padding">
				<div class="accordion" id="accordion2">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2"
							   href="#collapseOne">
								Our Missions
							</a>
						</div>
						<div id="collapseOne" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec accumsan tellus.
									Aenean tincidunt euismod nulla et volutpat. Nam placerat nulla quis diam dictum
									porta.
									Nulla facilisi. Pellentesque dictum nisi eros, vitae porta arcu pharetra sed.
								</p>
							</div>
						</div>
					</div>
					<!--accordionn end-->
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2"
							   href="#collapseTwo">
								Our Missions
							</a>
						</div>
						<div id="collapseTwo" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec accumsan tellus.
									Aenean tincidunt euismod nulla et volutpat. Nam placerat nulla quis diam dictum
									porta.
									Nulla facilisi. Pellentesque dictum nisi eros, vitae porta arcu pharetra sed.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2"
						   href="#collapseThree">
							Our Missions
						</a>
					</div>
					<div id="collapseThree" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec accumsan tellus.
								Aenean
								tincidunt euismod nulla et volutpat. Nam placerat nulla quis diam dictum porta. Nulla
								facilisi. Pellentesque dictum nisi eros, vitae porta arcu pharetra sed.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 section-padding">
				<div class="panel-group" id="accordion3">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#collapse1">Accordion Number
									1</a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse">
							<div
								class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
							nostrud
							exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor
							sit
							amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#collapse2">
									Accordion Number 2</a>
							</h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse">
							<div
								class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
							nostrud
							exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor
							sit
							amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat.
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#collapse3">
									Accordion Number 3</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
							<div
								class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
							nostrud
							exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Lorem ipsum dolor
							sit
							amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#collapse4">
									Accordion Number 4</a>
							</h4>
						</div>
						<div id="collapse4" class="panel-collapse collapse">
							<div
								class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis n
							ostrud
							exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem ipsum dolor
							sit
							amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat.
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--container end-->
			<div class="col-md-12 section-padding">
				<h3>Tabs</h3>
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#home">Tab number 1</a></li>
					<li><a data-toggle="tab" href="#menu1">Tab number 2</a></li>
					<li><a data-toggle="tab" href="#menu2">Tab number 3</a></li>
					<li><a data-toggle="tab" href="#menu3">Tab number 4</a></li>
				</ul>

				<div class="tab-content">
					<div id="home" class="tab-pane fade in active">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							ut
							labore
							et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod
							tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
							adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem
							ipsum
							dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
							dolore
							magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
					<div id="menu1" class="tab-pane fade">

						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo
							consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
							adipisicing
							elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
							sit
							amet,
							consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							ut
							labore
							et dolore magna aliqua.</p>
					</div>
					<div id="menu2" class="tab-pane fade">

						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
							laudantium,
							totam rem aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor
							incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
							adipisicing
							elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
							sit
							amet,
							consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							ut
							labore
							et dolore magna aliqua.
						</p>
					</div>
					<div id="menu3" class="tab-pane fade">

						<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
							explicabo.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							ut
							labore
							et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod
							tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
							adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem
							ipsum
							dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
							dolore
							magna aliqua.</p>
					</div>

				</div>
			</div>
			<!--container ends-->
			<div class="col-md-12 custom-list section-padding">
				<h3>Custom Lists</h3>
				<div class="row">
					<div class="col-md-4">
						<h4>Theme Features</h4>

						<div class="panel-group">
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-ok"></span>Bootstrap 3 Intergration </p>
								</div>
							</div>
							<div class="panel panel-default panel1 panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-ok"></span>Custom Theme Options</p>
								</div>
							</div>
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-ok"> </span> Responsive layout</p>
								</div>
							</div>
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-ok"> </span>Awesome Support</p>
								</div>
							</div>
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-ok"></span>Awesome Support</p>
								</div>
							</div>
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-ok"> </span>Full-Screen Slider</p>
								</div>
							</div>

						</div>
					</div>
					<div class="col-md-4">
						<h4>Theme Features</h4>

						<div class="panel-group">
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-arrow-right"></span>Bootstrap 3 Intergration
									</p>
								</div>
							</div>
							<div class="panel panel-default panel1 panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-arrow-right"></span>Custom Theme Options
									</p>
								</div>
							</div>
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-arrow-right"> </span> Responsive layout
									</p>
								</div>
							</div>
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-arrow-right"> </span>Awesome Support</p>
								</div>
							</div>
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-arrow-right"></span>Awesome Support</p>
								</div>
							</div>
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-arrow-right"> </span>Full-Screen Slider
									</p>
								</div>
							</div>

						</div>
					</div>
					<div class="col-md-4">
						<h4>Theme Features</h4>

						<div class="panel-group">
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-plus"></span>Bootstrap 3 Intergration
									</p>
								</div>
							</div>
							<div class="panel panel-default panel1 panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-plus"></span>Custom Theme Options</p>
								</div>
							</div>
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-plus"> </span> Responsive layout</p>
								</div>
							</div>
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-plus"> </span>Awesome Support</p>
								</div>
							</div>
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-plus"></span>Awesome Support</p>
								</div>
							</div>
							<div class="panel panel-default panel1">
								<div class="panel-body">
									<p><span class="glyphicon glyphicon-plus"> </span>Full-Screen Slider</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 section-padding">
				<div class="row">
					<div class="col-md-12">
						<h2 class="btn-heading">BUTTON</h2>
						<div class="button-btn">
							<h3>Large Button</h3>
							<button type="button" class="btn btn-primary btn-lg">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-success btn-lg">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-danger btn-lg">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-default btn-lg">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-warning btn-lg">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-info btn-lg">SAMPLE BUTTON</button>
						</div>
					</div>
					<div class="col-md-12">
						<div class="button-btn">

							<button type="button" class="btn btn-primary btn-lg"><span
								class="glyphicon glyphicon-cloud-download"></span>BUTTON
							</button>
							<button type="button" class="btn btn-success btn-lg"><span
								class="glyphicon glyphicon-cloud-download"></span>BUTTON
							</button>
							<button type="button" class="btn btn-danger btn-lg"><span
								class="glyphicon glyphicon-search"></span>BUTTON
							</button>
							<button type="button" class="btn btn-default btn-lg"><span
								class="glyphicon glyphicon-eye-open"></span>BUTTON
							</button>
							<button type="button" class="btn btn-warning btn-lg"><span
								class="glyphicon glyphicon-fire"></span>BUTTON
							</button>
							<button type="button" class="btn btn-info btn-lg"><span
								class="glyphicon glyphicon-thumbs-up"></span>BUTTON
							</button>
						</div>
					</div>
					<div class="col-md-12">

						<div class="button-btn">
							<h3>Regular Button</h3>
							<button type="button" class="btn btn-primary">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-success">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-danger">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-default">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-warning">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-info">SAMPLE BUTTON</button>
						</div>
					</div>
					<div class="col-md-12">
						<div class="button-btn">

							<button type="button" class="btn btn-primary"><span
								class="glyphicon glyphicon-cloud-download"></span>BUTTON
							</button>
							<button type="button" class="btn btn-success"><span
								class="glyphicon glyphicon-cloud-download"></span>BUTTON
							</button>
							<button type="button" class="btn btn-danger"><span
								class="glyphicon glyphicon-search"></span>BUTTON
							</button>
							<button type="button" class="btn btn-default"><span
								class="glyphicon glyphicon-eye-open"></span>BUTTON
							</button>
							<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-fire"></span>BUTTON
							</button>
							<button type="button" class="btn btn-info"><span
								class="glyphicon glyphicon-thumbs-up"></span>BUTTON
							</button>
						</div>
					</div>
					<div class="col-md-12">

						<div class="button-btn">
							<h3>Small Button</h3>
							<button type="button" class="btn btn-primary btn-sm">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-success btn-sm">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-danger btn-sm">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-default btn-sm">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-warning btn-sm">SAMPLE BUTTON</button>
							<button type="button" class="btn btn-info btn-sm">SAMPLE BUTTON</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 section-padding">
				<div class="notification-area">
					<h3 class="noti-heading">Notifications</h3>
					<div class="alert alert-warning alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
						Your custom notification that can be closed
					</div>
					<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
						Your custom notification that can be closed
					</div>
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
						Your custom notification that can be closed
					</div>

					<p class="bg-info text-info">Custom notification without "close" option</p>

				</div>
			</div>
			<div class="col-md-12">
				<div class="dropcap-area">
					<h2>Dropcap</h2>
					<img src="assets/images/dropcap.png" alt="">

					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
						invidunt
						ut
						labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
						duo
						dolores
						et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
						sit amet.
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
						invidunt
						ut
						labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
						duo
						dolores
						et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
						sit amet.
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
						invidunt
						ut
						labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
						duo
						dolores
						et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
						sit
						amet.</p>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row column">
					<div class="col-md-12">
						<h3>Columns</h3>
						<h4 class="column-heading">2 Columns</h4>
					</div>
					<div class="col-md-6">
						<h4>1/2</h4>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
							invidunt ut
							labore
							et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea
							rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
							Lorem
							ipsum
							dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et
							dolore
							magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
							rebum.
							Stet
							clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
							dolor sit
							amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
							dolore magna
							aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
							Stet
							clita
							kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
					</div>
					<div class="col-md-6">
						<h4>1/2</h4>

						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
							invidunt ut
							labore
							et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea
							rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
							Lorem
							ipsum
							dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et
							dolore
							magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
							rebum.
							Stet
							clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
							dolor sit
							amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
							dolore magna
							aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
							Stet
							clita
							kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
					</div>
					<div class="col-md-12">
						<h4 class="column-heading">3 Columns</h4>
					</div>
					<div class="col-md-4">
						<h4>1/2</h4>

						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
							invidunt ut
							labore
							et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea
							rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
							Lorem
							ipsum
							dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et
							dolore
							magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
							rebum.
							Stet
							clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
							dolor sit
							amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
							dolore magna
							aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
							Stet
							clita
							kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
					</div>
					<div class="col-md-4">
						<h4>1/2</h4>

						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
							invidunt ut
							labore
							et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea
							rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
							Lorem
							ipsum
							dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et
							dolore
							magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
							rebum.
							Stet
							clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
							dolor sit
							amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
							dolore magna
							aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
							Stet
							clita
							kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
					</div>
					<div class="col-md-4">
						<h4>1/2</h4>

						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
							invidunt ut
							labore
							et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea
							rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
							Lorem
							ipsum
							dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et
							dolore
							magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
							rebum.
							Stet
							clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
							dolor sit
							amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
							dolore magna
							aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
							Stet
							clita
							kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
					</div>
					<div class="col-md-12">
						<h4 class="column-heading">4 Columns</h4>
					</div>
					<div class="col-md-3">
						<h4>1/2</h4>

						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
							invidunt ut
							labore
							et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea
							rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
							amet.
							Lorem
							ipsum
							dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et
							dolore
							magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
							ea
							rebum.
							Stet
							clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
							ipsum
							dolor sit
							amet, consetetur sadipscing elitr,</p>
					</div>
					<div class="col-md-3">
						<h4>1/2</h4>

						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
							invidunt ut
							labore
							et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea
							rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
							amet.
							Lorem
							ipsum
							dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et
							dolore
							magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
							ea
							rebum.
							Stet
							clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
							ipsum
							dolor sit
							amet, consetetur sadipscing elitr, </p>
					</div>
					<div class="col-md-3">
						<h4>1/2</h4>

						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
							invidunt ut
							labore
							et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea
							rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
							amet.
							Lorem
							ipsum
							dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et
							dolore
							magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
							ea
							rebum.
							Stet
							clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
							ipsum
							dolor sit
							amet, consetetur sadipscing elitr, </p>
					</div>
					<div class="col-md-3">
						<h4>1/2</h4>

						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
							invidunt ut
							labore
							et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea
							rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
							amet.
							Lorem
							ipsum
							dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et
							dolore
							magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
							ea
							rebum.
							Stet
							clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
							ipsum
							dolor sit
							amet, </p>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row column">
					<div class="col-md-12">
						<h4 class="column-heading">Icon headings</h4>

					</div>


					<div class="col-md-4">
						<h4><span class="glyphicon glyphicon-heart"></span>Awesome Theme</h4>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
							invidunt ut
							labore
							et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea
							rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
							amet.
							Lorem
							ipsum
							dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et
							dolore
							magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
							ea
							rebum.</p>
					</div>
					<div class="col-md-4">
						<h4><span class="glyphicon glyphicon-leaf"></span>Clean Look </h4>

						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
							invidunt ut
							labore
							et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea
							rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
							amet.
							Lorem
							ipsum
							dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et
							dolore
							magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
							ea
							rebum</p>
					</div>
					<div class="col-md-4">
						<h4><span class="glyphicon glyphicon-cog"></span>Best support</h4>

						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
							invidunt ut
							labore
							et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea
							rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
							amet.
							Lorem
							ipsum
							dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et
							dolore
							magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
							ea
							rebum.</p>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h4 class="img-heading">Resposive Images</h4>
					</div>
					<div class="col-md-4">
						<img src="assets/images/img-res-1.jpg" class="img-responsive">
					</div>
					<div class="col-md-4">
						<img src="assets/images/img-res-2.jpg" class="img-responsive">
					</div>
					<div class="col-md-4">
						<img src="assets/images/img-res-3.jpg" class="img-responsive">
					</div>
				</div>
			</div>
			<div class="col-md-12 section-padding">
				<div class="row">
					<div class="col-md-12">
						<h4 class="img-heading">Images Effects</h4>
					</div>
					<div class="col-md-4">
						<img src="assets/images/img-res-4.jpg" class="img-rounded">
					</div>
					<div class="col-md-4">
						<img src="assets/images/img-res-4.jpg" class="img-circle">
					</div>
					<div class="col-md-4">
						<img src="assets/images/img-res-4.jpg" class="img-thumbnail">
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="section-padding">
					<h1 class="divider-heading">Headings</h1>
					<h1>h1. Kotha pro heading</h1>
					<h2>h2. Kotha pro heading</h2>
					<h3>h3. Kotha pro heading</h3>
					<h4>h4. Kotha pro heading</h4>
					<h5>h5. Kotha pro heading</h5>
					<h6>h6. Kotha pro heading</h6>
				</div>
			</div>
			<div class="col-md-12 section-padding">
				<div class="row">
					<div class="col-md-12">
						<h3 class="divider-heading">Post Grid</h3>
						<br>
					</div>

					<div class="col-sm-4">
						<article class="single-blog post-grid">
							<div class="post-thumb">
								<img src="assets/images/mat-blog-1.jpg" alt="">
							</div>
							<div class="post-content">
								<div class="entry-header text-center text-uppercase">
									<a href="" class="post-cat">Materials</a>
									<h2><a href="single-page.html"> Car expert interview</a></h2>
								</div>
								<div class="entry-content">
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
										tempor
										invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
										et
									</p>
								</div>
								<div class="post-meta text-center">
									<ul class="list-inline author-meta">
										<li class="author">By <a href="#">Jennifer </a></li>
										<li class="date"> On February 12, 2017</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="col-sm-4">
						<article class="single-blog post-grid">
							<div class="post-thumb">
								<a href=""><img src="assets/images/post-thumb-10.jpg" alt=""></a>
							</div>
							<div class="post-content">
								<div class="entry-header text-center text-uppercase">
									<a href="" class="post-cat">Retro</a>
									<h2><a href="single-page.html"> Want Money? Start retro</a></h2>
								</div>
								<div class="entry-content">
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
										tempor
										invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
										et
									</p>
								</div>
								<div class="post-meta text-center">
									<ul class="list-inline author-meta">
										<li class="author">By <a href="#">Jennifer </a></li>
										<li class="date"> On February 12, 2017</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="col-sm-4">
						<article class="single-blog post-grid">
							<div class="post-thumb">
								<a href=""><img src="assets/images/post-thumb-11.jpg" alt=""></a>
							</div>
							<div class="post-content">
								<div class="entry-header text-center text-uppercase">
									<a href="" class="post-cat">Retro</a>
									<h2><a href="single-page.html">You Know About retro Is A Lie</a></h2>
								</div>
								<div class="entry-content">
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
										tempor
										invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
										et
									</p>
								</div>
								<div class="post-meta text-center">
									<ul class="list-inline author-meta">
										<li class="author">By <a href="#">Jennifer </a></li>
										<li class="date"> On February 12, 2017</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="col-sm-4">
						<article class="single-blog post-grid">
							<div class="post-thumb">
								<a href=""><img src="assets/images/post-thumb-4.jpg" alt=""></a>
							</div>
							<div class="post-content">
								<div class="entry-header text-center text-uppercase">
									<a href="" class="post-cat">Travel</a>
									<h2><a href="single-page.html">An imaginary for travelers</a></h2>
								</div>
								<div class="entry-content">
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
										tempor
										invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
										et
									</p>
								</div>
								<div class="post-meta text-center">
									<ul class="list-inline author-meta">
										<li class="author">By <a href="#">Jennifer </a></li>
										<li class="date"> On February 12, 2017</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="col-sm-4">
						<article class="single-blog post-grid">
							<div class="post-thumb">
								<img src="assets/images/blog-fd-1.jpg" alt="">
							</div>
							<div class="post-content">
								<div class="entry-header text-center text-uppercase">
									<a href="" class="post-cat text-uppercase">Featured</a>
									<h2><a href="single-page.html">Thai Salad with Poached Egg</a></h2>
								</div>
								<div class="entry-content">
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
										tempor
										invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
										et
									</p>
								</div>
								<div class="post-meta text-center">
									<ul class="list-inline author-meta">
										<li class="author">By <a href="#">Jennifer </a></li>
										<li class="date"> On February 12, 2017</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="col-sm-4">
						<article class="single-blog post-grid">
							<div class="post-thumb">
								<img src="assets/images/post-thumb-4.jpg" alt="">
							</div>
							<div class="post-content">
								<div class="entry-header text-center text-uppercase">
									<a href="" class="post-cat">Architecture</a>
									<h2><a href="single-page.html">It’s Hard to Say Goodbye</a></h2>
								</div>
								<div class="entry-content">
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
										tempor
										invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
										et
									</p>
								</div>
								<div class="post-meta text-center">
									<ul class="list-inline author-meta">
										<li class="author">By <a href="#">Jennifer </a></li>
										<li class="date"> On February 12, 2017</li>
									</ul>
								</div>
							</div>
						</article>
					</div>

				</div>
			</div>
			<div class="col-md-6 col-md-offset-5">
				<blockquote class="blockquote blockquote-reverse">
					<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
						erat a
						ante.</p>
					<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
						Title</cite>
					</footer>
				</blockquote>
			</div>
			<div class="col-md-12 section-padding">
				<h4 class="divider-heading">Dividers</h4>
				<div class="border-1"></div>
				<div class="border-2"></div>
				<div class="border-3"></div>
				<div class="border-4"></div>
				<div class="border-5"></div>
				<div class="border-6"></div>
			</div>
			<div class="col-md-12 section-padding">
				<div class="row">
					<div class="col-md-12">
						<h4 class="social-heading">Socials</h4>
					</div>
					<div class="col-md-6">
						<div class="social-icon-hover">
							<a href="#"><i class="fa fa-facebook"></i> </a>
							<a href="#"><i class="fa fa-twitter"></i> </a>
							<a href="#"><i class="fa fa-google-plus"></i> </a>
							<a href="#"><i class="fa fa-tumblr"></i> </a>
							<a href="#"><i class="fa fa-rss"></i> </a>
							<a href="#"><i class="fa fa-linkedin"></i> </a>
							<a href="#"><i class="fa fa-futbol-o"></i> </a>
							<a href="#"><i class="fa fa-twitter-square"></i> </a>
						</div>

						<br>
						<div class="social-icon-btn">
							<button type="button" class="btn btn-primary btn-sm"><a href="#"><i
								class="fa fa-facebook"></i> </a>
							</button>
							<button type="button" class="btn btn-success btn-sm"><a href="#"><i
								class="fa fa-twitter"></i> </a>
							</button>
							<button type="button" class="btn btn-danger btn-sm"><a href="#"><i
								class="fa fa-google-plus"></i>
							</a>
							</button>
							<button type="button" class="btn btn-info btn-sm"><a href="#"><i
								class="fa fa-tumblr"></i>
							</a>
							</button>
							<button type="button" class="btn btn-success btn-sm"><a href="#"><i
								class="fa fa-rss"></i>
							</a>
							</button>
							<button type="button" class="btn btn-warning btn-sm"><a href="#"><i
								class="fa fa-linkedin"></i> </a>
							</button>

						</div>
					</div>
					<div class="col-md-6">
						<div class="social-icon-left-top">
							<a href="#"><i class="fa fa-facebook"></i> </a>
							<a href="#"><i class="fa fa-twitter"></i> </a>
							<a href="#"><i class="fa fa-google-plus"></i> </a>
							<a href="#"><i class="fa fa-tumblr"></i> </a>
							<a href="#"><i class="fa fa-rss"></i> </a>
							<a href="#"><i class="fa fa-linkedin"></i> </a>
							<a href="#"><i class="fa fa-futbol-o"></i> </a>
							<a href="#"><i class="fa fa-twitter-square"></i> </a>
						</div>

						<br>
						<div class="social-icon-left-bottom">
							<a href="#"><i class="fa fa-facebook"></i> </a>
							<a href="#"><i class="fa fa-twitter"></i> </a>
							<a href="#"><i class="fa fa-google-plus"></i> </a>
							<a href="#"><i class="fa fa-tumblr"></i> </a>
							<a href="#"><i class="fa fa-rss"></i> </a>
							<a href="#"><i class="fa fa-linkedin"></i> </a>
							<a href="#"><i class="fa fa-futbol-o"></i> </a>
							<a href="#"><i class="fa fa-twitter-square"></i> </a>
							<a href="#"><i class="fa fa-facebook"></i> </a>
							<a href="#"><i class="fa fa-tumblr"></i> </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="scroll-up">
	<a href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!--//Script//-->
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>