.progress {
    height: 1px;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.progressBar {
    height: 1px;
    -webkit-transition: width 1.0s ease;
    -moz-transition: width 1.0s ease;
    transition: width 1.0s ease;
}

.condensed {
    font-size: .8rem;
}

.textareaAutoHeight {
    box-sizing: border-box; /* fit parent width */
    height: 95%;
    min-height: 350px;
}
