.mainApp {
    font-size: 1rem !important;
}
.progress {
    height: 2px;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.progressBar {
    height: 2px;
    -webkit-transition: width 1.0s ease;
    -moz-transition: width 1.0s ease;
    transition: width 1.0s ease;
}

.condensed {
    font-size: .8rem;
}

.textareaAutoHeight {
    box-sizing: border-box; /* fit parent width */
    height: 75vh !important;
    min-height: 300px;
}


.verticalTableHeader {
    text-align: center;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    
}
.verticalTableHeader p {
    margin: 0 -100% ;
    display: inline-block;
}
.verticalTableHeader p:before{
    content: '';
    width: 0;
    padding-top: 110%;/* takes width as reference, + 10% for faking some extra padding */
    display: inline-block;
    vertical-align: middle;
}