{%- macro breadCrumpListCard -%}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item":
                    {
                        "@id": "{{ blog.protocol }}://{{ blog.domain }}",
                        "name": "Frontpage"
                    }
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item":
                    {
                        "@id": "{{ blog.protocol }}://{{ blog.domain }}{{ article.baseHref }}",
                        "name": "{{ categoryName }}"
                    }
                },
                {
                    "@type": "ListItem",
                    "position": 3,
                    "item":
                    {
                        "@id": "{{ blog.protocol }}://{{ blog.domain }}{{ article.baseHref }}{{ article.file }}",
                        "name": "{{ article.title|e('js') }}"
                    }
                }
            ]
        }
    </script>
{%- endmacro -%}
{%- macro websiteActionCard -%}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "{{ blog.protocol }}://{{ blog.domain }}",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ blog.protocol }}://{{ blog.domain }}/search/?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
{%- endmacro -%}
{%- macro logoCard -%}
    {% if blog.logo %}
        <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Organization",
              "url": "{{ blog.protocol }}://{{ blog.domain }}",
              "logo": "{{ blog.protocol }}://{{ blog.domain }}{{ blog.logo }}"
            }
        </script>
    {% endif %}
{%- endmacro -%}
{%- macro socialCard -%}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "{{ blog.author.fallback.nameFull }}",
        "url": "{{ blog.protocol }}://{{ blog.domain }}",
        "sameAs": [
            {% if blog.social.facebook %}"{{ blog.social.facebook }}",{% endif %}
            {% if blog.social.twitter %}"{{ blog.social.twitter }}",{% endif %}
            {% if blog.social.googleplus %}"{{ blog.social.googleplus }}",{% endif %}
            {% if blog.social.pintrest %}"{{ blog.social.pintrest }}",{% endif %}
            {% if blog.social.instagram %}"{{ blog.social.instagram }}"{% endif %}
        ]
    }
    </script>
{%- endmacro -%}
{%- macro blogPostingCard -%}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "publisher": {
            "@type": "Organization",
            "name": "{{ blog.author.fallback.nameFull|removeLineBreaks|e('html') }}",
            "logo": {
                "@type": "imageObject",
                "height": 40,
                "width": 218,
                "url": "https://litt.no/template/kotha/img/sorenso-logo.png"
            }
        },
        "author": {
            "@type": "Person",
            "name": "{{ article.author }}"
        },
        "headline": "{{ article.title|striptags|e('js') }}",
        "alternativeHeadline": "{{ article.teaser|striptags|removeLineBreaks|e('js') }}",
        "image": [
            {% for img in article.img %}
                "{{ blog.protocol }}://{{ blog.domain }}/pho/{{ img.src }}?w=800"
            {% endfor %}
        ],
        "mainEntityOfPage": "{{ shareLink }}",
        "datePublished": "{{ article.published|date('Y-m-d H:i:s') }}",
        "dateModified": "{{ (article.updated || article.published)|date('Y-m-d H:i:s') }}",
        "description": "{{ article.ingress|striptags|removeLineBreaks|e('js') }}",
        "articleBody": "{{ article.body|striptags|removeLineBreaks|e('js') }} {% for col in article.col %}{{ col }} {% endfor %}",
        "keywords": "{{ article.tags|striptags|removeLineBreaks|e('js') }}"
    }
    </script>
{%- endmacro -%}
{%- macro recipeCard -%}
    {% if article.recipe %}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Recipe",
            "author": {
                "@type": "Person",
                "name": "{{ (article.recipe.author || article.author)|e('js')|raw }}"
            },
            "datePublished": "{{ (article.recipe.published || article.published)|date('Y-m-d H:i:s') }}",
            "name": "{{ (article.recipe.name || article.title)|striptags|e('js')|raw }}",
            "description": "{{ (article.recipe.description || article.ingress)|striptags|removeLineBreaks|e('js')|raw }}",
            "keywords": "{{ (article.recipe.keywords)|e('js')|raw }}",
            "recipeCategory": "{{ (article.recipe.recipeCategory)|e('js')|raw }}",
            "recipeCuisine": "{{ (article.recipe.recipeCuisine)|e('js')|raw }}",
            "prepTime": "{{ article.recipe.prepTime|e('js')|raw }}",
            "cookTime": "{{ article.recipe.cookTime|e('js')|raw }}",
            {% if  article.recipe.image|e('js')|raw %}
                "image": "{{ article.recipe.image }}",
            {% elseif article.img[0] %}
                "image": "{{ blog.protocol }}://{{ blog.domain }}/pho/{{ article.img[0].src }}?w=800",
            {% endif %}
            "recipeIngredient": [
                {% for ingredient in article.recipe.recipeIngredient %}
                    "{{ ingredient|e('js')|raw }}"{% if !loop.last %},{% endif %}
                {% endfor %}
            ],
            "recipeInstructions": [
                {% for instruction in article.recipe.recipeInstructions %}
                    "{{ instruction|e('js')|raw }}"{% if !loop.last %},{% endif %}
                {% endfor %}
            ]
        }
        </script>
    {% endif %}
{%- endmacro -%}
{%- macro imageObjectCard -%}
    {% if article.img[0] %}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "ImageObject",
            "author": {
                "@type": "Person",
                "name": "{{ (article.img[0].author || article.author)|e('js')|raw }}"
            },
            "name": "{{ (article.img[0].name || article.title)|striptags|e('js')|raw }}",
            "keywords": "{{ (article.img[0]|imageKeywords || article.keywords)|e('js')|raw }}",
            "description": "{{ (article.img[0].description || article.ingress)|striptags|removeLineBreaks|e('js')|raw }}",
            {% if  article.recipe.image|e('js')|raw %}
                "contentUrl": "{{ article.img[0].contentUrl }}",
            {% elseif article.img[0] %}
                "contentUrl": "{{ blog.protocol }}://{{ blog.domain }}/pho/{{ article.img[0].src }}?w=800",
            {% endif %}
            "datePublished": "{{ (article.img.published || article.published)|date('Y-m-d H:i:s') }}",
            {% if article.img[0].exif %}
            "contentLocation": {
                "@type": "Place",
                "geo": {
                    "@type": "GeoCoordinates",
                        "latitude": {{ article.img[0].exif.lat }},
                        "longitude": {{ article.img[0].exif.lng }}
                    },
                "name": "{{ article.img[0].contentLocation|e('js')|raw }}"
            },
            "exifData": [
                {
                    "@type": "PropertyValue",
                    "name": "Camera",
                    "value": "{{ article.img[0].exif.model|e('js')|raw }}"
                },
                {
                    "@type": "PropertyValue",
                    "name": "Lens",
                    "value": "{{ article.img[0].exif.lensModel|e('js')|raw }}"
                },
                {
                    "@type": "PropertyValue",
                    "name": "ShutterSpeed",
                    "value": "{{ article.img[0].exif.exposureTime|e('js')|raw }}"
                },
                {
                    "@type": "PropertyValue",
                    "name": "FocalLength",
                    "value": "{{ article.img[0].exif.focalLength|e('js')|raw }}"
                },
                {
                    "@type": "PropertyValue",
                    "name": "Aperture",
                    "value": "{{ article.img[0].exif.fNumber|e('js')|raw }}"
                },
                {
                    "@type": "PropertyValue",
                    "name": "ISO",
                    "value": "{{ article.img[0].exif.photographicSensitivity|e('js')|raw }}"
                }
            ]
            {% endif %}
        }
        </script>
    {% endif %}
{%- endmacro -%}
{%- macro itemListCard -%}
    {% if article.artlist %}
        {% set shareLinkPage = blog.protocol + '://' + blog.domain + article.baseHref + article.file %}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "ItemList",
            "url": "{{ shareLinkPage }}",
            "numberOfItems": "{{ article.artlistTotal }}",
            "itemListElement": [
                {% for art in article.artlist %}
                    {
                        "@type": "ListItem",
                        "position": {{ loop.index }},
                        "item": {
                            {% set shareLink = blog.protocol + '://' + blog.domain + art.baseHref + art.file %}
                                "@type": "BlogPosting",
                                "publisher": {
                                    "@type": "Organization",
                                    "name": "{{ blog.author.fallback.nameFull|removeLineBreaks|e('html') }}",
                                    "logo": {
                                        "@type": "imageObject",
                                        "height": 40,
                                        "width": 218,
                                        "url": "https://litt.no/template/kotha/img/sorenso-logo.png"
                                    }
                                },
                                {% if art.img[0] %}"image": "{{ blog.protocol }}://{{ blog.domain }}/pho/{{ art.img[0].src }}?w=800",{% endif %}
                                "url": "{{ shareLink }}",
                                "name": "{{ art.title|e('js') }}",
                                "author": {
                                    "@type": "Person",
                                    "name": "{{ art.author }}"
                                },
                                "headline": "{{ art.title|striptags|e('js') }}",
                                "mainEntityOfPage": "{{ shareLink }}",
                                "datePublished": "{{ article.published|date('Y-m-d H:i:s') }}",
                                "dateModified": "{{ (article.updated || article.published)|date('Y-m-d H:i:s') }}"
                        }
                    }{% if !loop.last %},{% endif %}
                {% endfor %}
            ]
        }
        </script>
    {% endif %}
{%- endmacro -%}

{{ itemListCard()|oneline }}
{{ breadCrumpListCard()|oneline }}
{{ websiteActionCard()|oneline }}
{{ logoCard()|oneline }}
{{ socialCard()|oneline }}
{{ blogPostingCard()|oneline }}
{{ recipeCard()|oneline }}
{{ imageObjectCard()|oneline }}
