{% macro title %}
    {% if isDetailView %}
        {{ article.title|striptags|removeLineBreaks|e('html') }}
    {% else %}
        {{ author.nameFull|removeLineBreaks|e('html') }} | {{ blog.title|removeLineBreaks|e('html') }}
    {% endif %}
{% endmacro %}

{% macro image %}
    {% if isDetailView && article.img[0] %}
        {{ blog.protocol }}://{{ blog.domain }}/pho/{{ article.img[0].src }}?w=600
    {% else %}
        {{ blog.protocol }}://{{ blog.domain }}{{ blog.author.fallback.image }}
    {% endif %}
{% endmacro %}

{% macro description %}
    {% if isDetailView %}
        {{ article.teaser|striptags|removeLineBreaks|e('html') }} {{ article.ingress|striptags|removeLineBreaks|e('html') }}
    {% else %}
        {{ blog.description|removeLineBreaks|e('html') }}
    {% endif %}
{% endmacro %}

<!-- Verification -->
<meta name="google-site-verification" content="{{ blog.googleSiteVerification }}" />
<!-- SEO stuff -->

{% set categoryName = article.baseHref|replace('/', '', 'g')|capitalize %}
{% if isDetailView %}
    <meta name="description" content="{{ article.teaser|striptags|removeLineBreaks|e('html') }} {{ article.ingress|striptags|removeLineBreaks|e('js')|e('html') }}" />
    <meta name="keywords" content="{{ article.tags|striptags|removeLineBreaks|e('html') }}" />
    {% set shareLink = blog.protocol + '://' + blog.domain + '/' + article.category|url_encode + '/' + article.title|url_encode + '/' + article.id %}
    <meta property="og:url" content="{{ shareLink }}" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="no_NO" />
    <meta property="og:title" content="{{ title()|oneline }}" />
    <meta property="og:description" content="{{ description()|oneline }}" />
    <meta property="og:site_name" content="{{ blog.domain }}" />
    {% if article.img[0] %}
        <meta name="thumbnail" content="{{ image()|oneline }}" />
        <meta property="og:image" content="{{ image()|oneline }}" />
        <meta property="og:image:width" content="600" />
        <meta property="og:image:type" content="image/jpeg" />
    {% endif %}
    {% if article.youtube %}
        <meta property="og:video" content="{{ article.youtubeRaw }}" />
    {% endif %}

    <!-- Twitter Card -->
    <meta name="twitter:site" content="{{ blog.social.twitter }}" />
    <meta name="twitter:text:title" content="{{ title()|oneline }}" />
    {%- if product.hasImage %}
    <meta name="twitter:image" content="{{ image()|oneline }}" />
    {%- endif %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="{{ blog.social.twitter }}" />

{% else %}
    <meta name="description" content="{{ description()|oneline }}" />
    <meta name="keywords" content="{{ article.tags|striptags|removeLineBreaks|e('html') }}" />
    {% set shareLink = blog.protocol + '://' + blog.domain + '/' + article.category|url_encode + '/' %}
    <meta property="og:url" content="{{ shareLink }}" />
    <meta property="og:type" content="article" />
    {% set author = blog.author.fallback %}
    <meta property="og:title" content="{{ title()|oneline }}" />
    <meta property="og:description" content="{{ description()|oneline }}" />
    {% if article.img[0] %}
        <meta property="og:image" content="{{ image()|oneline }}" />
        <meta name="thumbnail" content="{{ image()|oneline }}" />
    {% endif %}

{% endif %}
<link rel="manifest" href="/manifest.json">
