
<style>
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .vh-100 {
        height: inherit !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .vh-100 {
        height: inherit !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
</style>

{% if session.email %}
<div class="container-fluid p-0">
    <div class="row">
        <main class="col-sm-12 col-md-12 pt-0">
            <div data-widget="simpleBlogCms">
                <script type="text/props">
                    {
                        "apiServer": "{{ blog.protocol }}://{{ blog.domain }}",
                        "jwtToken": "{{ jwtToken }}",
                        "sessionEmail": "{{ session.email }}",
                        "sessionAge": "{{ session.age }}"
                    }
                </script>
            </div>
            <script async src="/preact/simple-blog-cms/bundle.js?time={{ env.epoch }}"></script>
        </main>
    </div>
</div>
{% endif %}
