<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Blog: CMS</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pubsub-js/1.5.8/pubsub.min.js"></script>

    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
          .then(function (registration) {
            console.log('Service Worker registration successful with scope: ', registration.scope)
          })
          .catch(function (err) {
            console.log('Service Worker registration failed: ', err)
          })
      }
    </script>
</head>

<body>
    <div data-widget="simpleBlogCms">
        <script type="text/props">
            {
                "apiServer": "http://localhost:8080",
                "jwtToken": "<jwtToken. Use 'node ./bin/generate-jwttoken.js <email>' to generate new.",
                "sessionEmail": "sorenso@gmail.com"
            }
        </script>
    </div>

    <script async src="/bundle.js"></script>
</body>

</html>
