<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link href="http://localhost:8080/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://localhost:8080/css/custom.css?v18" rel="stylesheet">
		<link href="http://localhost:8080/global/css/youtube.css" rel="stylesheet">
		<link href="http://localhost:8080/css/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
		<link href="http://localhost:8080/fonts/fontawesome-pro-6.2.0-web/css/all.css" rel="stylesheet">
		<link rel="stylesheet" href="assets/highlight-github.css" />
		<% preact.headEnd %>
	</head>
	<body>
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-12 px-0'>
					<div data-widget-host="simple-blog-livecenter2" class="preview">
						<!--
								"apiServer": "https://admin.femundlopet.no",
								"serverDomain": 'https://femundlopet.no',
								"imageDomain": "https://femundlopet.no",
								"imageDomainPath": "femundlopet.no",

								"categoryLive": "Live",
								"categoryLiveId": "19",
								"categoryQa": "qa",
								"categoryQaId": "20",
								"categoryProgram": "program",
								"categoryProgramId": "21",
								"categoryDirektesport": "Direktesport",
								"categoryDirektesportId": "24",
								"categoryPhoto": "Foto",
								"categoryPhotoId": "25",
								"categoryCheckpoints": "Sjekkpunktinfo",
								"categoryAdTop": "Sponsorer;forsiden",
								"categoryAdCenter": "Sponsorer;Livesenter;center",
								"categoryAdBottom": "Sponsorer;forsiden;øvre",
								"categoryWebtv": "WebTV",
								"categoryWebtvId": "23",
								"categoryWebcam": "Webcam",
								"categoryWebcamId": "26",



								"apiServer": "http://localhost:8080",
								"imageDomain": "https://litt.no",
								"imageDomainPath": "litt.no",

								"categoryLive": "other",
								"categoryLiveId": 5,
								"categoryWebtv": "WebTv",
								"categoryWebtvId": 22,
								"categoryWebcam": "Webcam",
								"categoryWebcamId": 25,
								"categoryPhoto": "photo",
								"categoryPhotoId": 3,
								"categoryDirektesport": "Direktesport",
								"categoryDirektesportId": 24,
								"categoryQa": "qa",
								"categoryQaId": 19,
								"categoryProgram": "Program",
								"categoryProgramId": 20,
								"categoryCheckpoints": "checkpoints",
								"categoryAdTop": "ph",
								"categoryAdCenter": "Livesenter",
								"categoryAdBottom": "photo",

						-->
						<script type="text/props">
							{
								"apiServer": "http://localhost:8080",
								"serverDomain": "https://litt.no",
								"imageDomain": "https://litt.no",
								"imageDomainPath": "litt.no",

								"categoryCheckpoint": "checkpoints",
								"categoryLive": "other",
								"categoryLiveId": 5,
								"categoryWebtv": "WebTv",
								"categoryWebtvId": 22,
								"categoryWebcam": "Webcam",
								"categoryWebcamId": 25,
								"categoryPhoto": "photo",
								"categoryPhotoId": 3,
								"categoryQa": "qa",
								"categoryQaId": 19,
								"categoryProgram": "Program",
								"categoryProgramId": 20,
								"categoryCheckpoints": "checkpoints",
								"categoryAdTop": "ph",
								"categoryAdCenter": "Livesenter",
								"categoryAdBottom": "photo",

								"containerClasses": "p-0",

								"showHeader": "false",
								"showBreadcrumb": "false",
								"showStatusbar": "true",
								"showAdCenter": "false",
								"showAdBottom": "false",
								"showQa": "true",
								"showQaInputButton": "true",
								"showProgram": "true",
								"showWebcam": "false",
								"showWebtv": "true",
								"showPhoto": "true",
								"showResults": "false",
								"showTracking": "false",
								"showRaceTimer": "false",
								"raceTimerStart": "2023-02-02T10:00:0"
							}
						</script>
					</div>
				</div>
			</div>
		</div>

		<% preact.bodyEnd %>
	</body>
</html>
<!--

								"jwtToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InNvcmVuc29AZ21haWwuY29tIiwiaWF0IjoxNTUyNzQzNjY0fQ.hH6KvN2MskaUm1wukTsTBxty7ZvnAKLaCdyUV2eIG-M",
								"sessionEmail": "sorenso@gmail.com",

-->