
.modal-content {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    text-align: center;
}
.modal-header {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0px;
    border-bottom: none;
    z-index: 1;
}
.modal-body {
    padding: 0px;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}
.modal-body img {
    max-height: -webkit-fill-available;
}
.modal-footer {
    border: 0;
}
.modal-lg {
    width: 98%;
    max-width: 1700px;
}

p.image_inline {
    text-align: center;
    position: relative;
    left: -40px;
    width: calc(100% + 80px);
    background: #808080;
}
.image_inline_text:before {
    content: "";
    display: table;
    clear: both;
}

.image_inline_text {
    font-size: 0.9em;
    color: #808080;
}
p .image_inline_text {
    color: #ffffff;
}

.videoWrapper {
    left: -40px;
    position: relative;
    width: calc(100% + 80px);
}
.post-thumb .videoWrapper {
    left: 0px;
    width: 100%
}

.videoWrapper iframe {
    border: 0;
    width: 100%;
}
.post-content table {
    width: 100%;
}
