/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Darkmode: primary */
.bootstrap-dark .btn-primary,
.bootstrap-dark .btn-primary:hover,
.bootstrap-dark .btn-primary:focus,
.bootstrap-dark .btn-primary:disabled {
    color: #ffffff;
    background-color: #FF5917;
    border-color: #FF5917;
}

.bootstrap-dark .btn-primary:not(:disabled):not(.disabled):active,
.bootstrap-dark .btn-primary:not(:disabled):not(.disabled).active,
.bootstrap-dark .show>.btn-primary.dropdown-toggle {
    background-color: #FF5917;
    border-color: #FF5917
}

.bootstrap-dark .btn-outline-primary,
.bootstrap-dark .btn-outline-primary:hover,
.bootstrap-dark .btn-outline-primary:focus,
.bootstrap-dark .btn-outline-primary:disabled {
    color: #FF5917;
    border-color: #FF5917;
}

.bootstrap-dark .btn-outline-primary:not(:disabled):not(.disabled):active,
.bootstrap-dark .btn-outline-primary:not(:disabled):not(.disabled).active,
.bootstrap-dark .show>.btn-outline-primary.dropdown-toggle {
    background-color: #FF5917;
    border-color: #FF5917
}

.bootstrap-dark .text-primary {
    color: #FF5917 !important;
}

.bootstrap-dark .border-primary {
    border-color: #FF5917 !important;
}

.bootstrap-dark .badge-primary {
    color: #ffffff;
    background-color: #FF5917;
}

/* Darkmode: success */
.bootstrap-dark .btn-success,
.bootstrap-dark .btn-success:hover,
.bootstrap-dark .btn-success:focus,
.bootstrap-dark .btn-success:disabled {
    color: #ffffff;
    background-color: #5FC04D;
    border-color: #5FC04D;
}

.bootstrap-dark .btn-success:not(:disabled):not(.disabled):active,
.bootstrap-dark .btn-success:not(:disabled):not(.disabled).active,
.bootstrap-dark .show>.btn-success.dropdown-toggle {
    background-color: #5FC04D;
    border-color: #5FC04D
}

.bootstrap-dark .btn-outline-success,
.bootstrap-dark .btn-outline-success:hover,
.bootstrap-dark .btn-outline-success:focus,
.bootstrap-dark .btn-outline-success:disabled {
    color: #5FC04D;
    border-color: #5FC04D;
}

.bootstrap-dark .btn-outline-success:not(:disabled):not(.disabled):active,
.bootstrap-dark .btn-outline-success:not(:disabled):not(.disabled).active,
.bootstrap-dark .show>.btn-outline-success.dropdown-toggle {
    background-color: #5FC04D;
    border-color: #5FC04D
}

.bootstrap-dark .text-success {
    color: #5FC04D !important;
}

.bootstrap-dark .border-success {
    border-color: #5FC04D !important;
}

.bootstrap-dark .badge-success {
    color: #ffffff;
    background-color: #5FC04D;
}

/* Darkmode: info */
.bootstrap-dark .btn-info,
.bootstrap-dark .btn-info:hover,
.bootstrap-dark .btn-info:focus,
.bootstrap-dark .btn-info:disabled {
    color: #1B1B60;
    background-color: #89CCF4;
    border-color: #89CCF4;
}

.bootstrap-dark .btn-info:not(:disabled):not(.disabled):active,
.bootstrap-dark .btn-info:not(:disabled):not(.disabled).active,
.bootstrap-dark .show>.btn-info.dropdown-toggle {
    background-color: #89CCF4;
    border-color: #89CCF4
}

.bootstrap-dark .btn-outline-info,
.bootstrap-dark .btn-outline-info:hover,
.bootstrap-dark .btn-outline-info:focus,
.bootstrap-dark .btn-outline-info:disabled {
    color: #89CCF4;
    border-color: #89CCF4;
}

.bootstrap-dark .btn-outline-info:not(:disabled):not(.disabled):active,
.bootstrap-dark .btn-outline-info:not(:disabled):not(.disabled).active,
.bootstrap-dark .show>.btn-outline-info.dropdown-toggle {
    background-color: #89CCF4;
    border-color: #89CCF4
}

.bootstrap-dark .text-info {
    color: #89CCF4 !important;
}

.bootstrap-dark .border-info {
    border-color: #89CCF4 !important;
}

.bootstrap-dark .badge-info {
    color: #1B1B60;
    background-color: #89CCF4;
}

/* Darkmode: general */
.bootstrap-dark a {
    color: #FF5917;
    text-decoration: none;
    background-color: transparent;
}

.bootstrap-dark .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #FF5917;
    background-color: #FF5917;
}

.bootstrap-dark .bg-primary {
    background-color: #FF5917 !important;
}
.bootstrap-dark .bg-success {
    background-color: #5FC04D !important;
}
.bootstrap-dark .bg-info {
    background-color: #89CCF4 !important;
}

.bootstrap-dark .invalid-feedback {
    color: #FF5917;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Lightmode: primary */
.bootstrap .btn-primary,
.bootstrap .btn-primary:hover,
.bootstrap .btn-primary:focus,
.bootstrap .btn-primary:disabled {
    color: #ffffff;
    background-color: #FF6321;
    border-color: #FF6321;
}

.bootstrap .btn-primary:not(:disabled):not(.disabled):active,
.bootstrap .btn-primary:not(:disabled):not(.disabled).active,
.bootstrap .show>.btn-primary.dropdown-toggle {
    background-color: #FF6321;
    border-color: #FF6321
}

.bootstrap .btn-outline-primary,
.bootstrap .btn-outline-primary:hover,
.bootstrap .btn-outline-primary:focus,
.bootstrap .btn-outline-primary:disabled {
    color: #FF6321;
    border-color: #FF6321;
}

.bootstrap .btn-outline-primary:not(:disabled):not(.disabled):active,
.bootstrap .btn-outline-primary:not(:disabled):not(.disabled).active,
.bootstrap .show>.btn-outline-primary.dropdown-toggle {
    background-color: #FF6321;
    border-color: #FF6321
}

.bootstrap .text-primary {
    color: #FF6321 !important;
}

.bootstrap .border-primary {
    border-color: #FF6321 !important;
}

.bootstrap .badge-primary {
    color: #ffffff;
    background-color: #FF6321;
}

/* Lightmode: success */
.bootstrap .btn-success,
.bootstrap .btn-success:hover,
.bootstrap .btn-success:focus,
.bootstrap .btn-success:disabled {
    color: #ffffff;
    background-color: #5FC04D;
    border-color: #5FC04D;
}

.bootstrap .btn-success:not(:disabled):not(.disabled):active,
.bootstrap .btn-success:not(:disabled):not(.disabled).active,
.bootstrap .show>.btn-success.dropdown-toggle {
    background-color: #5FC04D;
    border-color: #5FC04D
}

.bootstrap .btn-outline-success,
.bootstrap .btn-outline-success:hover,
.bootstrap .btn-outline-success:focus,
.bootstrap .btn-outline-success:disabled {
    color: #5FC04D;
    border-color: #5FC04D;
}

.bootstrap .btn-outline-success:not(:disabled):not(.disabled):active,
.bootstrap .btn-outline-success:not(:disabled):not(.disabled).active,
.bootstrap .show>.btn-outline-success.dropdown-toggle {
    background-color: #5FC04D;
    border-color: #5FC04D
}

.bootstrap .text-success {
    color: #5FC04D !important;
}

.bootstrap .border-success {
    border-color: #5FC04D !important;
}

.bootstrap .badge-success {
    color: #ffffff;
    background-color: #5FC04D;
}

/* Darkmode: info */
.bootstrap .btn-info,
.bootstrap .btn-info:hover,
.bootstrap .btn-info:focus,
.bootstrap .btn-info:disabled {
    color: #1B1B60;
    background-color: #89CCF4;
    border-color: #89CCF4;
}

.bootstrap .btn-info:not(:disabled):not(.disabled):active,
.bootstrap .btn-info:not(:disabled):not(.disabled).active,
.bootstrap .show>.btn-info.dropdown-toggle {
    background-color: #89CCF4;
    border-color: #89CCF4
}

.bootstrap .btn-outline-info,
.bootstrap .btn-outline-info:hover,
.bootstrap .btn-outline-info:focus,
.bootstrap .btn-outline-info:disabled {
    color: #89CCF4;
    border-color: #89CCF4;
}

.bootstrap .btn-outline-info:not(:disabled):not(.disabled):active,
.bootstrap .btn-outline-info:not(:disabled):not(.disabled).active,
.bootstrap .show>.btn-outline-info.dropdown-toggle {
    background-color: #89CCF4;
    border-color: #89CCF4
}

.bootstrap .text-info {
    color: #89CCF4 !important;
}

.bootstrap .border-info {
    border-color: #89CCF4 !important;
}

.bootstrap .badge-info {
    color: #1B1B60;
    background-color: #89CCF4;
}

/* Lightmode: general */
.bootstrap a {
    color: #FF6321;
    text-decoration: none;
    background-color: transparent;
}

.bootstrap .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #FF6321;
    background-color: #FF6321;
}

.bootstrap .bg-primary {
    background-color: #FF6321 !important;
}
.bootstrap .bg-success {
    background-color: #5FC04D !important;
}
.bootstrap .bg-info {
    background-color: #89CCF4 !important;
}

.bootstrap .invalid-feedback {
    color: #FF6321;
}
