{% include 'inc/_header.html' %}

	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<article class="single-blog">
					<div class="post-thumb {% if article.gallery %}gallery-post-format{% endif %}">
                        {% if article.youtube %}
						    {{ article.youtube|raw }}
                        {% elseif article.gallery %}
                            <div id="mygallery">
                                {% set imgnum = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] %}
                                {% for i in imgnum %}
                                    {% if article.img[i] %}
                                        <div class="portfolio single-gallery">
                                            <div class="post-thumb">
                                                <a href="/pho/{{ article.img[i] }}?w=1200" data-rel="prettyPhoto[gallery]">
                                                    <img src="/pho/{{ article.img[i] }}?w=600" alt=""></a>
                                                {% if article.imgtext[i] %}
                                                    <div class="thumb-caption">
                                                        <h3>{{ article.imgtext[i] }}</h3>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        {% elseif article.img[0] %}
                            <img src="/pho/{{ article.img[0] }}?w=800" alt="{{ article.title|e }}">
                        {% else %}
                            <div class="entry-quote-post-format">
    							<blockquote>
    								<p><i class="fa fa-quote-left"></i>
                                        {% if article.quote %}
                                            {{ article.quote }}
                                        {% elseif article.teaser %}
                                            {{ article.teaser }}
                                        {% elseif article.title %}
                                            {{ article.title }}
                                        {% endif %}
                                    </p>
    								<h3>{{ article.quoteBy }}</h3>
    							</blockquote>
    						</div>
                        {% endif %}
					</div>
					<div class="post-content">
						<div class="entry-header text-center text-uppercase">
							<a href="{{ article.baseHref }}" class="post-cat">{{ article.baseHref }}</a>
							<h2>{{ article.title }}</h2>
						</div>
						<div class="entry-content">
                            {{ article.body|safe }}
						</div>

						<div class="post-meta">
							<ul class="pull-left list-inline author-meta">
                                {% if article.author %}
								    <li class="author">By <a href="#">{{ article.author }} </a></li>
                                {% endif %}
                                {% if article.published %}
								    <li class="date"> On {{ article.published }}</li>
                                {% endif %}
							</ul>
							<ul class="pull-right list-inline social-share">
                                <!-- https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.nrk.no%2Fmr%2F1.13734993 -->
                                <!-- https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.nrk.no%2Fmr%2F1.13734993&text=Bevegelsene%20holder%20seg%20h%C3%B8ye -->
                                <!-- https://plus.google.com/share?url=https%3A%2F%2Fwww.nrk.no%2Fmr%2F1.13734993 -->
                                <!-- https://www.linkedin.com/shareArticle?mini=true&url=http://developer.linkedin.com&title=LinkedIn%20Developer%20Network&summary=My%20favorite%20developer%20program&source=LinkedIn -->

                                {% set shareLink = blog.protocol + '://' + blog.domain + article.baseHref + article.file %}
                                <li><a rel="noopener" target="_blank" class="s-facebook" href="https://www.facebook.com/sharer.php?u={{ shareLink|url_encode }}"><i class="fa fa-facebook"></i></a></li>
                                <li><a rel="noopener" target="_blank" class="s-twitter" href="https://twitter.com/intent/tweet?url={{ shareLink|url_encode }}&text={{ article.title|url_encode }}.%20{{ article.teaser|striptags|url_encode }}{% if blog.socialUser.twitter %}&via={{ blog.socialUser.twitter }}{% endif %}&hashtags={{ article.tags }}"><i class="fa fa-twitter"></i></a></li>
                                <li><a rel="noopener" target="_blank" class="s-google-plus" href="https://plus.google.com/share?url={{ shareLink|url_encode }}"><i class="fa fa-google-plus"></i></a></li>
                                <li><a rel="noopener" target="_blank" class="s-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ shareLink|url_encode }}&summary={{ article.title|url_encode }}.%20{{ article.teaser|striptags|url_encode }}&source={{ blog.domain }}"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>

					</div>
				</article>

{% if 1 == 2 %}
                {% include 'inc/_top_comment.html' %}
{% endif %}


				<div class="row"><!--blog next previous-->
                    {% if article.previous %}
                        {% set art = article.previous %}
					<div class="col-md-6">
						<div class="single-blog-box">
							<a href="{{ art.baseHref}}/{{ art.file }}">
                                <img src="/pho/{{ art.img[0] }}?w=360" alt="{{ art.title|e }}">
								<div class="overlay">
									<div class="promo-text">
										<p><i class=" pull-left fa fa-angle-left"></i></p>
										<h5>{{ art.title }}</h5>
									</div>
								</div>
							</a>
						</div>
					</div>
                    {% endif %}
                    {% if article.next %}
                        {% set art = article.next %}
					<div class="col-md-6">
						<div class="single-blog-box">
                            <a href="{{ art.baseHref}}/{{ art.file }}">
                                <img src="/pho/{{ art.img[0] }}?w=360" alt="{{ art.title|e }}">
								<div class="overlay">
									<div class="promo-text">
										<p><i class="pull-right fa fa-angle-right"></i></p>
                                        <h5>{{ art.title }}</h5>
									</div>
								</div>
							</a>
						</div>
					</div>
                    {% endif %}
				</div>

                {% include 'inc/_related_blogs.html' %}

                <div class="comment-area">
                    <div class="comment-heading">
                        <h3>Some comments</h3>
                    </div>
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                        var disqus_shortname = '{{ blog.disqus }}'; // required: replace example with your forum shortname

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>

{% if 1 == 2 %}
                {% include 'inc/_comments.html' %}
{% endif %}

            </div>
			<div class="col-sm-4">
				<div class="kotha-sidebar">

                    {% include 'inc/_newsletter.html' %}
                    {% include 'inc/_popular_posts.html' %}
                    {% include 'inc/_latest_posts.html' %}
                    {% include 'inc/_instagram_feed.html' %}
                    {% include 'inc/_advertisement.html' %}

				</div>
			</div>
		</div>
	</div>
</div>

{% if 1 == 2 %}
    <xmp>{{ blog|json(4)|raw }}</xmp>
    <xmp>{{ article|json(4)|raw }}</xmp>
{% endif %}

{% include 'inc/_footer.html' %}
