{% include 'inc/_header.html' %}

	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<article class="single-blog">
					<div class="post-thumb">
						<img src="/pho/{{ article.img[0] }}?w=800" alt="{{ article.title|e }}">
					</div>
					<div class="post-content">
						<div class="entry-header text-center text-uppercase">
							<a href="{{ article.baseHref }}" class="post-cat">{{ article.baseHref }}</a>
							<h2>{{ article.title }}</h2>
						</div>
						<div class="entry-content">
                            {{ article.body|safe }}
						</div>

						<div class="post-meta">
							<ul class="pull-left list-inline author-meta">
								<li class="author">By <a href="#">{{ article.author }} </a></li>
								<li class="date"> On {{ article.published }}</li>
							</ul>
							<ul class="pull-right list-inline social-share">
                                {% if blog.author.fallback.facebook %}<li><a class="s-facebook" href="{{ blog.author.fallback.facebook }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
                                {% if blog.author.fallback.twitter %}<li><a class="s-twitter" href="{{ blog.author.fallback.twitter }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
                                {% if blog.author.fallback.google_plus %}<li><a class="s-google-plus" href="{{ blog.author.fallback.google_plus }}"><i class="fa fa-google-plus"></i></a></li>{% endif %}
                                {% if blog.author.fallback.linkedin %}<li><a class="s-linkedin" href="{{ blog.author.fallback.linkedin }}"><i class="fa fa-linkedin"></i></a></li>{% endif %}
                                {% if blog.author.fallback.instagram %}<li><a class="s-instagram" href="{{ blog.author.fallback.instagram }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
							</ul>
						</div>

					</div>
				</article>
{% if 1 == 2 %}
				<div class="top-comment"><!--top comment-->
					<img src="assets/images/comment.jpg" class="pull-left img-circle" alt="">
					<h4><a href="">Ricard Goff</a></h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy hello ro mod tempor
						invidunt ut labore et dolore magna aliquyam erat.</p>
					<ul class="list-inline social-share">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-pinterest"></i></a></li>
						<li><a href=""><i class="fa fa-google-plus"></i></a></li>
						<li><a href=""><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
{% endif %}


				<div class="row"><!--blog next previous-->
                    {% if article.previous %}
                        {% set art = article.previous %}
					<div class="col-md-6">
						<div class="single-blog-box">
							<a href="{{ art.baseHref}}/{{ art.file }}">
                                <img src="/pho/{{ art.img[0] }}?w=360" alt="{{ art.title|e }}">
								<div class="overlay">
									<div class="promo-text">
										<p><i class=" pull-left fa fa-angle-left"></i></p>
										<h5>{{ art.title }}</h5>
									</div>
								</div>
							</a>
						</div>
					</div>
                    {% endif %}
                    {% if article.next %}
                        {% set art = article.next %}
					<div class="col-md-6">
						<div class="single-blog-box">
                            <a href="{{ art.baseHref}}/{{ art.file }}">
                                <img src="/pho/{{ art.img[0] }}?w=360" alt="{{ art.title|e }}">
								<div class="overlay">
									<div class="promo-text">
										<p><i class="pull-right fa fa-angle-right"></i></p>
                                        <h5>{{ art.title }}</h5>
									</div>
								</div>
							</a>
						</div>
					</div>
                    {% endif %}
				</div>

{% if 1 == 2 %}
				<div class="related-post-carousel"><!--related post carousel-->
					<div class="related-heading">
						<h4>You might also like</h4>
					</div>
					<div class="related-post-carousel-items">
						<div class="single-item">
							<a href="#">
								<img src="assets/images/p-1.jpg" alt="">
								<h4>Lorem ipsum dolor sit amet,</h4>
							</a>
						</div>
						<div class="single-item">
							<a href="#">
								<img src="assets/images/p-2.jpg" alt="">
								<h4>Just Wondering at Beach</h4>
							</a>
						</div>
						<div class="single-item">
							<a href="#">
								<img src="assets/images/p-3.jpg" alt="">
								<h4>Nonumy eirmod tempor invidunt</h4>
							</a>
						</div>
						<div class="single-item">
							<a href="#">
								<img src="assets/images/p-1.jpg" alt="">
								<h4>Justo duo dolores et ea rebum</h4>
							</a>
						</div>
						<div class="single-item">
							<a href="#">
								<img src="assets/images/p-2.jpg" alt="">
								<h4>Duo dolores justo t ea rebum</h4>
							</a>
						</div>
						<div class="single-item">
							<a href="#">
								<img src="assets/images/p-3.jpg" alt="">
								<h4>Duo dolores justo t ea rebum</h4>
							</a>
						</div>
					</div>
				</div>
{% endif %}
{% if 1 == 2 %}
				<div class="comment-area">
					<div class="comment-heading">
						<h3>3 Thoughts</h3>
					</div>
					<div class="single-comment">
						<div class="media">
							<div class="media-left text-center">
								<a href=""><img class="media-object" src="assets/images/reply-1.jpg" alt=""></a>
							</div>
							<div class="media-body">
								<div class="media-heading">
									<h3 class="text-uppercase">
										<a href="">John Smith</a>
										<a href="" class="pull-right reply-btn">reply</a>
									</h3>
								</div>
								<p class="comment-date">
									December, 02, 2017 at 5:57 PM
								</p>
								<p class="comment-p">
									Nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sdiam
									voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
									gubergren, no sea takimata sanctus est.
								</p>
							</div>
						</div>
					</div>
					<div class="single-comment single-comment-reply">
						<div class="media">
							<div class="media-left text-center">
								<a href=""> <img class="media-object" src="assets/images/reply-2.jpg" alt=""></a>
							</div>
							<div class="media-body">
								<div class="media-heading">
									<h3 class="text-uppercase"><a href="">Joan Coal</a></h3>
								</div>
								<p class="comment-date">
									2 days ago
								</p>
								<p class="comment-p">
									Labore et dolore magna aliquyam erat, sdiam voluptua. At vero eos eaccusam et justo
									duo dolores et ea rebum. Stet clita kasd.
								</p>
							</div>
						</div>
					</div>
					<div class="single-comment">
						<div class="media">
							<div class="media-left text-center">
								<a href=""> <img class="media-object" src="assets/images/reply-3.jpg" alt=""></a>
							</div>
							<div class="media-body">
								<div class="media-heading">
									<h3 class="text-uppercase"><a href="">Ricard Goff</a> <a href=""
									                                                         class="pull-right reply-btn">reply</a>
									</h3>
								</div>
								<span class="comment-date"> 5 hours ago</span>
								<p class="comment-p">
									Amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidu labore et
									dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et usto duo
									dolores et ea rebum.
								</p>
							</div>
						</div>
					</div>
				</div>
				<!--leave comment-->
				<div class="leave-comment">
					<h4>Leave a reply</h4>
					<form class="form-horizontal contact-form"   method="post" action="#">
						<div class="form-group">
							<div class="col-md-6">
								<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
							</div>
							<div class="col-md-6">
								<input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<input type="text" class="form-control" id="subject" name="subject" placeholder="Website url">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<textarea class="form-control" rows="6" name="message" placeholder="Write Massage" required></textarea>
							</div>
						</div>
						<button type="submit" class="btn send-btn">Post Comment</button>
					</form>
				</div>
{% endif %}

            </div>
			<div class="col-sm-4">
				<div class="kotha-sidebar">

                    {% include 'inc/_newsletter.html' %}
                    {% include 'inc/_popular_posts.html' %}
                    {% include 'inc/_latest_posts.html' %}
                    {% include 'inc/_instagram_feed.html' %}
                    {% include 'inc/_advertisement.html' %}

				</div>
			</div>
		</div>
	</div>
</div>

{% if 1 == 2 %}
    <xmp>{{ blog|json(4)|raw }}</xmp>
    <xmp>{{ article|json(4)|raw }}</xmp>
{% endif %}

{% include 'inc/_footer.html' %}
