{
    "presets": ["preact-widget-scripts/babel"],
    "plugins": [
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }],
        ["transform-regenerator", {
            "asyncGenerators": true,
            "generators": true,
            "async": true
        }]
    ]
}
