{% if 1 == 2 %}
<div class="container-fluid insta-feed text-center">
	<h2 class="text-uppercase">Follow@ <a href="">Instagram</a></h2>
	<div id="footer-instagram" class="footer-insta">
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-1.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-2.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>

		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-3.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>

		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-4.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-5.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-6.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-7.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-8.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
	</div>
</div>
{% endif %}
<footer>
	<div class="container">
		<div class="footer-widget-row">
			<div class="footer-widget contact-widget">
				<div class="widget-title">
                    <img src="../img/sorenso-logo.png" alt="sorenso">
				</div>
				<p>{{ blog.description }}</p>
                <a href="/send-magic-link">Send a magic link 🎩  to login.</a>
                {% if 1 == 2 %}
				<div class="address">
					<h4 class="text-uppercase">contact Info</h4>
					<p> 239/2 NK Street, DC, USA</p>
					<p> Phone: +123 456 78900</p>
					<a href="mailto:theme@kotha.com">theme@kotha.com</a>
				</div>
                {% endif %}
			</div>

            {% if 1 == 2 %}
			<div class="footer-widget twitter-widget">
				<h2 class="widget-title text-uppercase">
					Latest TWeeTs
				</h2>
				<div class="single-tweet">
					<p>Check our new theme 'kotha - Personal WordPress Blog Theme' on #themeforest #Envato
						#WordPress <br>
						<a href="https://t.co/kN5OPEuPzx">https://t.co/kN5OPEuPzx</a></p>
					<h4><i class="fa fa-twitter"></i>Tweeted on 17 hours ago</h4>
				</div>
				<div class="single-tweet">
					<p>Check our new theme 'kotha - Personal WordPress Blog Theme' on #themeforest #Envato
						#WordPress
						<br>
						<a href="https://t.co/kN5OPEuPzx">https://t.co/kN5OPEuPzx</a></p>
					<h4><i class="fa fa-twitter"></i>Tweeted on 17 hours ago</h4>
				</div>
			</div>
            {% endif %}

            {% if 1 == 2 %}
			<div class="footer-widget testimonial-widget">
				<h2 class="widget-title text-uppercase">Testimonials</h2>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!--Indicator-->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class=""></li>
						<li data-target="#myCarousel" data-slide-to="1" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="2" class=""></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item">
							<div class="single-review">
								<div class="review-text">
									<p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
										tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
										vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
										magna aliquyam eratma</p>
								</div>
								<div class="author-id">
									<img src="assets/images/author.jpg" alt="">
									<div class="author-text">
										<h4>John Doe</h4>
										<h4>CEO, Apple Inc.</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="item active">
							<div class="single-review">
								<div class="review-text">
									<p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
										tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
										vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
										magna aliquyam eratma</p>
								</div>
								<div class="author-id">
									<img src="assets/images/autho-1r.jpg" alt="">
									<div class="author-text">
										<h4>Robert Arri</h4>
										<h4>HRM, Microsoft Inc.</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="single-review">
								<div class="review-text">
									<p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
										tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
										vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
										magna aliquyam eratma</p>
								</div>
								<div class="author-id">
									<img src="assets/images/author.png" alt="">

									<div class="author-text">
										<h4>Brown Fish</h4>
										<h4>CEO, Bangari Inc.</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            {% endif %}

		</div>
	</div>

	<div class="container-fluid text-center ft-copyright">
		<p>&copy; 2017 <a href="">Sorenso </a> - Published with <i class="fa fa-heart"></i> by <a
			href="https://github.com/5orenso/simple-blog">simple-blog</a></p>
	</div>
</footer>
<div class="scroll-up">
	<a href="#"><i class="fa fa-angle-up"></i></a>
</div>

<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <img src="" id="imagepreview">
            </div>
            <div class="modal-footer">
                <span class="pull-left" id="imageText"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--//Script//-->
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/slick.min.js"></script>
{% if article.gallery || article.img[1] %}
    <script src="assets/js/jquery.prettyPhoto.js"></script>
    <script src="assets/js/jquery.justifiedGallery.min.js"></script>
    <script>
    //pretty Photo
    $("a[data-rel^='prettyPhoto']").prettyPhoto({
        animation_speed: 'normal',
        slideshow: 5000,
        autoplay_slideshow: true
    });
    $("#mygallery").justifiedGallery({
        rowHeight: 160,
        margins: 0,
        lastRow: 'justify'
    });
    </script>
{% endif %}
<script src="assets/js/main.js"></script>


<script>
$(document).ready(function() {
    $('.image_inline').find('a').click(function(event) {
        event.preventDefault();
        $('#imagepreview').attr('src', $(this).attr('href'));
        $('#imageText').html($(this).attr('title'));
        $('#imagemodal').modal('show');
    });
    // /on("click", function() {
    //    $('#imagepreview').attr('src', $('#imageresource').attr('src')); // here asign the image to the modal when the user click the enlarge link
    //    $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
    // });
});
</script>

{% if blog.googleAnalytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ blog.googleAnalytics }}', 'auto');
        ga('send', 'pageview');
    </script>
{% endif %}

{% if session.email %}
    <script type="text/javascript" src="/global/js/fileupload.js"></script>
    <script type="text/javascript" src="/global/js/simplemde.min.js"></script>
    <script>
        function customMarkdownParser(markdown, editor) {
            var result = markdown.replace(/(!\[(.+?)\]\(.+?\))/gm, '$1\n$2');
            console.log(result);
            return editor.markdown(result);
        }
        var simplemde = new SimpleMDE({
            element: document.getElementById("markdownEditor"),
            spellChecker: false,
            previewRender: function(plainText) {
		        return customMarkdownParser(plainText, this.parent); // Returns HTML from a custom parser
	        },
        });

    </script>
    <script type="text/javascript" src="/global/js/saveForm.js"></script>
{% endif %}

</body>
</html>
