{% if 1 == 2 %}

<aside class="widget insta-widget">
    <h2 class="widget-title text-uppercase text-center">INSTAGRAM FEED</h2>
    <div class="instagram-feed">
        <div class="single-instagram">
            <a href="">
                <img src="assets/images/ft-insta-1.jpg" alt="">
            </a>
            <div class="insta-overlay">
                <div class="insta-meta">
                    <ul class="list-inline text-center">
                        <li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
                        <li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
                    </ul>
                </div>
            </div>
            <a href="" class="insta-link"></a>
        </div>
        <div class="single-instagram">
            <a href="">
                <img src="assets/images/ft-insta-6.jpg" alt="">
            </a>
            <div class="insta-overlay">
                <div class="insta-meta">
                    <ul class="list-inline text-center">
                        <li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
                        <li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
                    </ul>
                </div>
            </div>
            <a href="" class="insta-link"></a>
        </div>
        <div class="single-instagram">
            <a href="">
                <img src="assets/images/ft-insta-4.jpg" alt="">
            </a>
            <div class="insta-overlay">
                <div class="insta-meta">
                    <ul class="list-inline text-center">
                        <li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
                        <li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
                    </ul>
                </div>
            </div>
            <a href="" class="insta-link"></a>
        </div>
        <div class="single-instagram">
            <a href="">
                <img src="assets/images/ft-insta-3.jpg" alt="">
            </a>
            <div class="insta-overlay">
                <div class="insta-meta">
                    <ul class="list-inline text-center">
                        <li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
                        <li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
                    </ul>
                </div>
            </div>
            <a href="" class="insta-link"></a>
        </div>
        <div class="single-instagram">
            <a href="">
                <img src="assets/images/ft-insta-7.jpg" alt="">
            </a>
            <div class="insta-overlay">
                <div class="insta-meta">
                    <ul class="list-inline text-center">
                        <li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
                        <li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
                    </ul>
                </div>
            </div>
            <a href="" class="insta-link"></a>
        </div>
        <div class="single-instagram">
            <a href="">
                <img src="assets/images/ft-insta-8.jpg" alt="">
            </a>
            <div class="insta-overlay">
                <div class="insta-meta">
                    <ul class="list-inline text-center">
                        <li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
                        <li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
                    </ul>
                </div>
            </div>
            <a href="" class="insta-link"></a>
        </div>
    </div>
</aside>
{% endif %}
