    {% set author = blog.author.fallback %}
    {% if blog.author[article.author] %}
        {% set author = blog.author[article.author] %}
    {% endif %}
    <aside class="widget about-me-widget  text-center">
        <div class="about-me-content">
            <div class="about-me-img">
                <img src="{{ author.imageLarge }}" alt="" class="img-me img-circle">
                <h2 class="text-uppercase">{{ author.nameFull }}</h2>
                <p>{{ author.description }}</p>
            </div>
        </div>
        <div class="social-share">
            <ul class="list-inline">
                {% if author.facebook %}<li><a class="s-facebook" href="{{ author.facebook }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
                {% if author.twitter %}<li><a class="s-twitter" href="{{ author.twitter }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
                {% if author.google_plus %}<li><a class="s-google-plus" href="{{ author.google_plus }}"><i class="fa fa-google-plus"></i></a></li>{% endif %}
                {% if author.linkedin %}<li><a class="s-linkedin" href="{{ author.linkedin }}"><i class="fa fa-linkedin"></i></a></li>{% endif %}
                {% if author.instagram %}<li><a class="s-instagram" href="{{ author.instagram }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
            </ul>
        </div>
    </aside>

{% if 1 == 2 %}
    <aside class="widget news-letter-widget">
        <h2 class="widget-title text-uppercase text-center">Get Newsletter</h2>
        <form action="#">
            <input type="email" placeholder="Your email address" required>
            <input type="submit" value="Subscribe Now"
                   class="text-uppercase text-center btn btn-subscribe">
        </form>
    </aside>
{% endif %}
