{% if 1 == 2 %}
	<aside class="widget widget-popular-post">
		<h3 class="widget-title text-uppercase text-center">Popular Posts</h3>
		<ul>
			<li>
				<a href="#" class="popular-img"><img src="assets/images/p-1.jpg" alt="">
				</a>
				<div class="p-content">
					<h4><a href="#" class="text-uppercase">Ice-cream with chalk taste </a></h4>
					<span class="p-date">February 15, 2017 </span>
				</div>
			</li>
			<li><a href="#" class="popular-img"><img src="assets/images/p-2.jpg" alt="">
			</a>
				<div class="p-content">
					<h4><a href="#" class="text-uppercase">The moment of mango bar</a></h4>
					<span class="p-date">March 15, 2017 </span>
				</div>
			</li>
			<li>
				<a href="#" class="popular-img"><img src="assets/images/p-3.jpg" alt="">
				</a>
				<div class="p-content">
					<h4><a href="#" class="text-uppercase">Homemade herbal black tea</a></h4>
					<span class="p-date">April 15, 2017 </span>
				</div>
			</li>
		</ul>
	</aside>
{% endif %}
