
				<div class="top-comment"><!--top comment-->
					<img src="assets/images/comment.jpg" class="pull-left img-circle" alt="">
					<h4><a href="">Ricard Goff</a></h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy hello ro mod tempor
						invidunt ut labore et dolore magna aliquyam erat.</p>
					<ul class="list-inline social-share">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-pinterest"></i></a></li>
						<li><a href=""><i class="fa fa-google-plus"></i></a></li>
						<li><a href=""><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
