<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link href="http://localhost:8080/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://localhost:8080/css/custom.css?v18" rel="stylesheet">
		<link href="http://localhost:8080/global/css/youtube.css" rel="stylesheet">
		<link href="http://localhost:8080/css/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
		<link href="http://localhost:8080/fonts/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
		<% preact.headEnd %>
	</head>
	<body>
		<div class='container-fluid px-0'>
			<div class='row'>
				<div class='col-12'>
					<div data-widget-host="simple-blog-livecenter" class="preview">
						<script type="text/props">
							{
								"imageDomain": "https://litt.no",
								"imageDomainPath": "litt.no",
								"apiServer": "http://localhost:8080",
								"websocketUrl": "ws://localhost:1337",
								"categoryLive": "other",
								"categoryLiveId": 5,
								"categoryQa": "qa",
								"categoryQaId": 19,
								"categoryProgram": "Program",
								"categoryProgramId": 20,
								"categoryCheckpoints": "checkpoints",
								"categoryAdTop": "ph",
								"categoryAdCenter": "ph",
								"categoryAdBottom": "photo"
							}
						</script>
					</div>
				</div>
			</div>
		</div>

		<% preact.bodyEnd %>
	</body>
</html>
<!--

								"jwtToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InNvcmVuc29AZ21haWwuY29tIiwiaWF0IjoxNTUyNzQzNjY0fQ.hH6KvN2MskaUm1wukTsTBxty7ZvnAKLaCdyUV2eIG-M",
								"sessionEmail": "sorenso@gmail.com",

-->